[2019-10-04 16:31] mcomella opened #1 "Investigate GitHub integration for Raptor, Nimbledroid per PR"
This may be a dupe to #3, which subsumes this issue.

### Why/User Benefit/User Problem
One of the aspects that's important to test frameworks is providing immediate feedback to devs (i.e. on GitHub) so we can reduce the feedback loop: we should investigate how well our test frameworks support GitHub integration.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)
- Iden

[2019-10-04 17:41] mcomella opened #2 "Create centralized list of mobile performance tests"
### Why/User Benefit/User Problem
We're currently running many different performance tests – between GV and Fenix – and it's unclear what we're running, where there may be overlap (i.e. wasted effort and resources), and what we can change to better meet our goals.

It might be valuable to come up with a centralized list so we can better coordinate in the future.

This was also an ask from @dbolter

[2019-10-07 17:56] mcomella opened #3 "Identify which test frameworks to invest in in Q1 2020 and beyond"
_After discussing with Vicky, we decided to tackle Q4 in #10 - Nimbledroid low-hanging fruit  - and tackle Q1+ in this issue, i.e. this is less urgent._

**You may wish to revisit the issue description & acceptance criteria before assigning.**

### Why/User Benefit/User Problem
In Q1 and beyond, we want to take greater advantage of our test frameworks. For example, we'd like to:
- Write tests for

[2019-10-07 22:28] mcomella opened #4 "Identify which features on Fenix roadmap may require perf analysis before their release"
### Why/User Benefit/User Problem
New features can often cause perf regressions: sometimes necessary and sometimes not. Ideally, for each new feature we can do a performance analysis before and after to determine:
- Can the regression be improved?
- Is the feature worth the hits to performance?

Fenix has defined several roadmaps: we should investigate them and see if there are new features we sho

[2019-10-07 23:01] mcomella opened #5 "TEST: verifying GitHub automation"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-07 23:05] mcomella opened #6 "TEST: verifying GitHub automation 2"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-07 23:06] mcomella opened #7 "TEST: verifying GitHub automation 3"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-07 23:07] #5 closed

[2019-10-07 23:07] #6 closed

[2019-10-07 23:07] #7 closed

[2019-10-10 22:26] mcomella opened #8 "Create preliminary roadmap; finalize Q4 perf OKRs"
### Why/User Benefit/User Problem
Eric and Vicky raised concerns about the OKRs we selected for Q4 in that they may not align with our release criteria: we should finalize them by the end of next week (10/18).

### Impact

### Acceptance Criteria (how do I know when I’m done?)
- Q4 front-end perf OKRs are finalized
- Docs are updated in the necessary places

[2019-10-14 20:45] mcomella commented on #2
Triage: Will mentioned he'll create a general "Fenix" wiki landing page and let Dave know, if that doesn't align with what he's working on.

[2019-10-14 20:46] mcomella commented on #4
Running list of features we might want to consider:
- Secure proxy
- logins
- webextensions https://github.com/mozilla-mobile/fenix/issues/5823
- Something in fxa?
- Migration to Glean Rust (happens soon)
- Migrating user data on startup (incl. loading open tabs)
  - Can leverage instructional UI to migrate data async in the background?
  - Can provide options not to sync?

### Listed elsewhere
-

[2019-10-14 20:55] mcomella opened #9 "Identify release criteria for Fenix GA"
### Why/User Benefit/User Problem
We want to know what our perf targets are for a broader release.

### Impact
If we don't set targets beforehand, they may be influenced by the actual state and be worse than they'd otherwise be.

### Acceptance Criteria (how do I know when I’m done?)
- Release criteria for Fenix GA is documented
- (if possible) Reminders set to reference release criteria in future

[2019-10-14 20:57] mcomella commented on #1
Colin FYI: bors will allow us to run tests on each PR.

[2019-10-16 22:05] mcomella commented on #8
After discussing with the group, the concerns are:
- wrt "warm start" objective
  - we have no definition of "warm start" on Android or how we can replicate it in automation
  - we have no way to measure whatever we define "warm start" to be ^
  - warm start is not part of the release criteria (but maybe it should be: we haven't measured how often it happens nor do we have a way to do so)
- wrt in

[2019-10-16 22:49] mcomella commented on #8
To make this more concise, we want OKRs that:
- Monitor the health of important things, i.e. the release criteria
- Validate that we have the correct release criteria (has everything it needs and nothing it doesn't)

[2019-10-18 00:09] mcomella opened #10 "Investigate Nimbledroid low-hanging fruit"
### Why/User Benefit/User Problem
There are many problems we'd like to solve with performance testing. For example, if a PR makes a major regression, we'd like to break the build. Also, we'd like to add additional types of tests.

Nimbledroid theoretically makes tasks like these easy to set up: we should see what low-hanging fruit it has to offer.

### Impact
If we don't do this, we'll have to bui

[2019-10-18 00:17] mcomella commented on #10
@colintheshots Do you have any thoughts off the top of your head on Nimbledroid functionality that we're not using that we can benefit from and that isn't listed here?

[2019-10-18 00:39] mcomella commented on #4
Eric gave me an action item in the last meeting so I'm taking this over. :)

[2019-10-18 00:47] mcomella opened #11 "Investigate increased granularity on Nimbledroid results"
### Why/User Benefit/User Problem
Nimbledroid results are in centiseconds but we'd prefer milliseconds (plus one decimal place). Why? From Eric:

Let's see if it's possible to get increased granularity: it sounds like dhunt may have started looking into this.

### Impact

### Acceptance Criteria (how do I know when I’m done?)
- Define our requirements for increased granularity, e.g. do we need to

[2019-10-18 00:47] mcomella commented on #11
I'm sending an email to Dave Hunt to ask what the status of this is.

[2019-10-18 01:06] mcomella commented on #8
We met again to discuss OKRs. Notes and my interpretations:
- we'll need to finalize our release criteria #9 before we can set final OKRs that address it: we may need to keep updating these beyond the next week
- we could consider having a generic OKR (e.g. institute 2 tests based on release criteria) to compensate for incompleteness
- we may wish to have an OKR for finishing the release criteria

[2019-10-22 23:54] mcomella commented on #4
I completed a new document with the features we're concerned with and I'll work with Eric to funnel these items into the release criteria.

[2019-10-22 23:54] #4 closed

[2019-10-23 20:12] hawkinsw commented on #1
https://developer.github.com/v3/guides/building-a-ci-server/

[2019-10-24 18:25] mcomella opened #12 "health.graphics is missing Nimbledroid uploads"
### Why/User Benefit/User Problem
https://health.graphics/android does not have the latest Nimbledroid uploads.

### Impact
Since most users will probably go there – rather than Nimbledroid – to see the latest status, they'll be getting out of date numbers.

### Acceptance Criteria (how do I know when I’m done?)
- Nightly builds are regularly uploaded to health.graphics/android

[2019-10-24 20:14] mcomella commented on #12
I filed a health.graphics issue upstream: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/591

Assigning to myself to take care of keeping up-to-date with the status of this issue.

[2019-10-25 20:46] mcomella commented on #10
I filed https://github.com/mozilla-mobile/perf-frontend-issues/issues/12.

I have completed my analysis and will begin filing follow-up issues.

[2019-10-25 20:47] mcomella opened #13 "[Nimbledroid] Enable alerting for regressions"
### Why/User Benefit/User Problem
We can alert for regressions, which can send Slack messages, email, etc.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-25 20:52] mcomella opened #14 "[Nimbledroid] Write custom test to understand how accessible that is"
### Why/User Benefit/User Problem
We want to write custom tests for various user flows: we should determine how easy it is to write custom scenarios and how reliable they are once written.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-25 21:05] mcomella opened #15 "[Nimbledroid] Investigate uploading 64-bit APKs, if possible"
### Why/User Benefit/User Problem
I _assume_ we run tests on armv7, which is a 32-bit architecture: we may also want to run tests on a 64-bit architecture because it may have drastically different performance characteristics. I'm not sure if this is supported by Nimbledroid yet, however.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-25 21:07] mcomella opened #16 "[Nimbledroid] Investigate running tests on Android 7"
### Why/User Benefit/User Problem
We currently run tests on Nexus 5, Android 5 (iirc): this is not what our users are using and we'd ideally want to run on something more modern. Let's try running on Android 7.

### Impact
This is a low effort way of making our tests slightly more representative of our users' experiences. If we don't do this, our ND tests are done on a much older device (Nexus 5)

[2019-10-25 21:10] mcomella commented on #16
No-Jun mentioned this configuration might be one line in an upload script, or the web UI.

[2019-10-25 21:13] mcomella opened #17 "[Nimbledroid] Investigate if "auto-discovered user flows" are useful"
### Why/User Benefit/User Problem
Nimbledroid can crawl your app and find tests to run: we could see if this creates any user flows that are particularly helpful for us. Given we're focused on specific release criteria, I don't know if this is a priority though.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-25 21:14] mcomella opened #18 "[Nimbledroid] Question: do we want to run tests on Reference Browser or Sample Browser?"
### Why/User Benefit/User Problem
We currently run tests for Fenixx but maybe tests for Reference Browser or Sample Browser could help us separate issues from Fenix and issues from one of those browsers.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-25 21:34] mcomella commented on #10
I filed issues for the following low-hanging fruit:
- Enable alerts: https://github.com/mozilla-mobile/perf-frontend-issues/issues/13
- Investigate uploading 64-bit APKs: https://github.com/mozilla-mobile/perf-frontend-issues/issues/15
- Investigate Android 7 support: https://github.com/mozilla-mobile/perf-frontend-issues/issues/16
- Run tests for Sample/Reference Browser? https://github.com/mozil

[2019-10-26 03:28] hawkinsw commented on #1
https://github.com/NimbleDroid/gradle-profiler/pull/20

[2019-10-28 18:02] davehunt commented on #2
There are two related efforts here. One is a test health dashboard in Perfherder, which will show a list of performance tests that we're ingesting data for. This will not include results from Nimbledroid. This should land soon (within the next week or so). The functionality of this view will be limited initially, but there are a number of directions we could take this to provide additional value.

[2019-10-28 18:55] mcomella commented on #15
Triage: block on Nimbledroid GitHub integration investigation.

[2019-10-28 18:58] mcomella commented on #16
Triage: block on telemetry for Android OS versions (see also public docs); by market?

Also investigate architecture plan for GeckoView.

[2019-10-28 18:59] mcomella opened #19 "Investigate Fenix, Fennec client telemetry"
### Why/User Benefit/User Problem
We don't have a good understanding of what telemetry already exists and which we can leverage to answer questions we need to answer for performance: let's collect what's out there in a centralized location.

### Impact
Without this investigation, we'll be forced to serendipitously hit telemetry or re-write it all.

### Acceptance Criteria (how do I know when I’m d

[2019-10-28 20:54] mcomella commented on #14
Findings: the official docs say we need to upload the Espresso APK with the tests we care about. We'll need to make sure to exclude non-perf espresso tests. No-Jun mentioned this infrastructure may not work yet: if so, contact him or me. Since "apps" in the Nimbledroid dashboard are owned by specific users (and more specifically the API key used to upload them), we may need to create a new app (i.

[2019-10-28 21:24] hawkinsw commented on #1
This is incorporated upstream. You can see the progress of integrating ND into gradle for Fenix at https://github.com/mozilla-mobile/fenix/pull/6283

[2019-10-28 22:08] mcomella commented on #13
I asked No-Jun to set it up for me because I don't have the appropriate permissions.

[2019-10-28 22:57] mcomella commented on #13
No-Jun mentioned he created the alert but afaict there's no way to test it without intentionally breaking the build. It sends to an internal mailing list that I told folks to join. I think I'm done here unless we want to do further testing.

[2019-10-28 23:09] mcomella commented on #8
Waiting on more finalized release criteria before continuing.

[2019-10-30 18:42] mcomella commented on #11
I got a response from Dave: him & his team haven't looked into this, as far as he knows. He recommend I contact Nimbledroid directly.

[2019-10-30 21:12] mcomella commented on #11
Unassigning and sending back to triage: spoke with Eric and this is not that important right now since it'll require more effort.

[2019-10-30 22:01] mcomella commented on #19
I've completed my analysis on Fenix (except for Amplitude, which I don't have access to): now to Fennec.

[2019-10-30 22:43] mcomella commented on #19
I've completed my investigation for Fennec: just waiting on Amplitude.

[2019-10-31 21:45] mcomella commented on #10
Reopening: at Eric's suggestion, I should test this before closing it.

[2019-10-31 22:03] mcomella opened #20 "Nimbledroid nightly uploads have stopped (Oct 29th edition)"
### Why/User Benefit/User Problem
Fenix Nightly Nimbledroid uploads have stopped since the 29th.

We should take this opportunity to try to:
- Preferably & if possible, make the app owned by no user and give users permissions to modify the settings
- Make the app owned by a generic Mozilla user so we can all modify the settings, such as alerting.

### Impact

### Acceptance Criteria (how do I know

[2019-10-31 22:05] mcomella commented on #20
kglazko is coordinating with me on a solution: it sounds like we'll begin uploads with one of our API keys today and work on the ideal solution in the future.

[2019-10-31 22:09] mcomella commented on #10
Reopened the wrong bug: I meant to reopen alerts.

[2019-10-31 22:09] #10 closed, assigned to mcomella

[2019-10-31 22:09] mcomella commented on #13
Reopening: at Eric's suggestion, I should test this before closing it.

[2019-10-31 22:10] mcomella commented on #13
Waiting for final ND implementation before testing: #20.

[2019-10-31 22:15] mcomella commented on #20
We created a new app with my key and will have to see if it worked for tonight's build.

[2019-10-31 22:18] mcomella commented on #20
One downside is that the history of the uploads may be associated with a different user account. :(

[2019-10-31 22:18] mcomella commented on #20
Kate is going to send an email with the ideal solution: waiting on that to continue.

[2019-11-01 06:45] hawkinsw commented on #20
Let me know if/how I can help with this!

[2019-11-01 18:38] mcomella commented on #20
The temporary fix is working: we're working towards the long term fix.

[2019-11-05 21:09] mcomella commented on #11
I spoke with the ND folks: this may not be possible but they're looking into it: waiting.

[2019-11-06 00:19] mcomella commented on #19
I finished Amplitude. I linked the document I wrote to our mana page and sent an email to the broader Android team: I believe my work here is done and we can start using the data to answer questions we have.

[2019-11-06 00:19] #19 closed, assigned to mcomella

[2019-11-07 20:06] mcomella commented on #20
Long term fix: a mailing list was recommended in https://bugzilla.mozilla.org/show_bug.cgi?id=1593854. kglazko is looking into it

[2019-11-07 20:06] mcomella opened #21 "Nimbledroid release uploads have stopped (Oct 29th edition)"
We're working on nightly in #20: we should also do the release builds.

[2019-11-07 20:07] mcomella commented on #20
I filed https://github.com/mozilla-mobile/perf-frontend-issues/issues/21 for release builds so we don't forget.

[2019-11-07 20:25] mcomella opened #22 "Check in on status of applink pageload test on BitBar"
### Why/User Benefit/User Problem
We currently run pageload tests and will soon finalize our startup tests: once we're done with that, we should check the status of the applink pageload test to determine how it fits into our suite.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-11-07 23:14] mcomella opened #23 "Measure baseline (Fennec 68) cold start to homescreen"
### Why/User Benefit/User Problem
We want to compare the performance of Fenix against Fennec 68 as a baseline. Our first key metric is cold startup to the homescreen: let's make an equivalent startup test for Fennec.

### Impact
Without this, we cannot establish baseline performance or measure our proposed release criteria.

### Acceptance Criteria (how do I know when I’m done?)
- Fennec 68 has co

[2019-11-07 23:31] mcomella opened #24 "Add hot start to app homescreen test for Fennec 68"
Blocked by?:
- cold/warm/hot definitions: https://github.com/mozilla-mobile/fenix/issues/5910
- Fennec 68 cold start: #23
- Fenix hot start: https://github.com/mozilla-mobile/fenix/issues/6508

### Why/User Benefit/User Problem
We want to compare the performance of Fenix against Fennec 68 as a baseline. A key metric is hot startup to the homescreen: let's make an equivalent startup test for Fennec

[2019-11-07 23:43] mcomella commented on #14
Let's do this while adding a test we really care about. Dupe: https://github.com/mozilla-mobile/fenix/issues/6508

[2019-11-07 23:43] #14 closed, assigned to nobody

[2019-11-10 09:48] hawkinsw commented on #1
Investigation of integration with ND complete:

See
1. https://github.com/hawkinsw/nimbledroidrs and
1. https://github.com/hawkinsw/ndhook

[2019-11-11 19:54] hawkinsw commented on #16
From Ilya:
nexus 5: sdk 19 to 23
Google Pixel: sdk 24 and 25

[2019-11-12 00:58] mcomella commented on #20
Nightly uploads stopped again but it looks like it might be because of a TC migration: we'll wait to see if uploads continue tomorrow before continuing our work.

[2019-11-12 02:28] mcomella opened #25 "Add cold startup tests for Reference Browser"
### Why/User Benefit/User Problem
RB uses many of the same features as Fenix so its historical upload data could be useful someday: in any case, we should have the capacity to run it.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

[2019-11-12 23:51] mcomella opened #26 "Create and share performance consultation process"
### Why/User Benefit/User Problem
When folks run into performance issues (e.g. need a design review, want code review, or overall feature review), they may not know they can go to our team to get help. It'd help if we:
- Had a documented way to assist other teams (e.g. a "consultation")
- Frequently reminded and encouraged folks about this process so they remember and feel comfortable reaching out

[2019-11-13 18:55] mcomella commented on #21
Nightly uploads are mostly fixed so we can start on release.

[2019-11-13 18:55] mcomella commented on #20
Uploads are working correctly: now we just need to merge the histories.

[2019-11-13 19:08] mcomella commented on #13
Nightly uploads are corrected: now I'll test alerting.

[2019-11-14 00:40] mcomella commented on #11
The results from the profiling API are in MS, as demonstrated by Will's system: https://github.com/mozilla-mobile/perf-frontend-issues/issues/1

[2019-11-18 22:27] mcomella commented on #20
History is merged: thanks for driving, kglazko!

[2019-11-18 22:27] #20 closed, assigned to mcomella, kglazko

[2019-11-21 19:27] hawkinsw opened #27 "Potential slowdown from additional UI elements in the Home Fragment"
Investigate which elements are causing the time to inflate the Home Fragment to increase.

[2019-11-21 19:38] hawkinsw opened #28 "Investigate cause for file size increase on/around Nov 14"
There was a 1.5mb increase in the size of the APK on/around Nov 14th.

It likely comes from either android components or geckoview. The version was bumped to 22 that night (from 21).

[2019-11-21 23:23] mcomella commented on #11
I'm not sure what our requirements are for ms granularity: I added "define it" to the acceptance criteria. iirc, this was not a high priority issue but one that I took because the action items seemed easy but now that it's getting more complicated, I think we should reprioritize it: unassigning and moving to triage column.

[2019-11-21 23:25] mcomella commented on #12
Nightly builds have been fixed so this should be unblocked for action from the dashboard team.

[2019-11-21 23:54] mcomella opened #29 "Determine any special conditions Nimbledroid sets up during testing"
### Why/User Benefit/User Problem
There are many things that can go on on device during testing: for example, background processing of our app, of other apps, communication on the network, etc. Sometimes these types of activities are disabled and sometimes they're not: we should determine what special conditions Nimbledroid is set up in, if any, so we better understand the environment in which we

[2019-11-22 09:57] hawkinsw commented on #28
The contents of the omnijar changed between these two versions. The two versions contain a different set of hyphenation information. Unzipped, the newer set of those hyphenation files is 1.6m bigger than the older set. @mcomella @ecsmyth

[2019-11-22 10:03] hawkinsw commented on #29
A related issue that I have been thinking about recently: What are the "tokens" and "configurations" included in the version of Fenix that we are profiling. In other words, are we profiling a version that
1. has metrics enabled?
1. has a Glean metrics token?
1. has a Leanplum metrics token?
1. has a push configuration?
1. has a "reasonable" release name?

[2019-11-23 01:04] mcomella commented on #28
Reopening so we can discuss to determine if next steps are necessary.

@hawkinsw Do you know why there was a change to the hyphenation information and if it's in some way avoidable? Are the folks that created the change aware of the impact?

[2019-11-23 05:07] hawkinsw commented on #28
This is very, very interesting: it appears that the only recent change in the directory where the source of those hyphenation files are located is a change to the way that they are converted into the assets that go into the omnijar. It looks like they switched from using an off-the-shelf hyphenation library to an in-house rust-based implementation to do the compilation. The old version of the hyph

[2019-11-25 20:04] mcomella commented on #27
Dupe https://github.com/mozilla-mobile/fenix/issues/4665

[2019-11-25 20:04] #27 closed, assigned to hawkinsw

[2019-11-27 22:26] mcomella commented on #21
This should be fixed with https://github.com/mozilla-mobile/fenix/pull/6828

[2019-11-28 00:00] mcomella commented on #25
Triage: blocked on finalizing our cold start tests for Fenix https://github.com/mozilla-mobile/fenix/issues/6507 though RB does have regular uploads and the default ND cold start test running.

[2019-11-28 00:03] mcomella commented on #26
Triage: for speed, we should do the good thing, not the perfect thing. I have an action item to send an email to let folks know that if they want a performance consultation, they should contact me (a single point of contact for simplicity). We should especially ensure managers are aware. We should be specific about what the perf team can offer (e.g. tooling help, bugs, consultation, socializing ho

[2019-11-28 14:51] JohanLorenzo commented on #21
FYI: https://phabricator.services.mozilla.com/D55125 needs to land before next release is started.

Edit: Done.

[2019-12-02 14:51] hawkinsw commented on #23
I've been asked by Vicki and @ecsmyth to get one-off numbers to compare applink startup of Fenix with Fennec ESR68. I am going to do that today (Dec 2). I know that is not exactly what this issue represents, but I wanted to track it somewhere.

[2019-12-04 00:59] mcomella commented on #12
They fixed the back-end: https://github.com/mozilla/firefox-health-backend/issues/71#event-2833466981

And are working on updating the front-end: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/591

[2019-12-04 01:00] mcomella commented on #12
Note that until we upload Chrome Beta to the admin account, we also will be missing Chrome numbers.

[2019-12-04 01:01] mcomella commented on #8
Requirements have been changing so I don't think this bug is totally actionable or helpful at the moment.

[2019-12-04 01:01] #8 closed

[2019-12-04 21:15] mcomella opened #30 "[team] Decide which metrics to focus on after gathering preliminary numbers"
This ticket is blocked on gathering preliminary numbers:
- #31 cold start to homescreen
- #32 cold start app link page load
- #33 hot start to homescreen
- ? telemetry probes relevant to release criteria (this is more likely a follow-up)

### Why/User Benefit/User Problem
In order to decide which metrics need the most improvement, and thus the ones we should focus on in Q1, we need to get numbers

[2019-12-04 21:18] mcomella opened #31 "Gather preliminary numbers for cold start to homescreen"
### Why/User Benefit/User Problem
We want to know how Fenix compares to Fennec 68 currently in order to inform priorities: see https://github.com/mozilla-mobile/perf-frontend-issues/issues/30 for details.

This bug is to gather preliminary timing numbers for cold start to homescreen, one of our P1 release criteria. These numbers can be retrieved in a lightweight fashion – i.e. they don't need to b

[2019-12-04 21:20] mcomella opened #32 "Gather preliminary numbers for cold app link"
### Why/User Benefit/User Problem
We want to know how Fenix compares to Fennec 68 currently in order to inform priorities: see https://github.com/mozilla-mobile/perf-frontend-issues/issues/30 for details.

This bug is to gather preliminary timing numbers for cold start app link to page load, one of our P1 release criteria. These numbers can be retrieved in a lightweight fashion – i.e. they don't n

[2019-12-04 21:21] mcomella opened #33 "Gather preliminary numbers for hot start to home screen"
### Why/User Benefit/User Problem
We want to know how Fenix compares to Fennec 68 currently in order to inform priorities: see https://github.com/mozilla-mobile/perf-frontend-issues/issues/30 for details.

This bug is to gather preliminary timing numbers for hot start to homescreen, one of our P1 release criteria. These numbers can be retrieved in a lightweight fashion – i.e. they don't need to be

[2019-12-04 21:44] mcomella commented on #32
Will documented the numbers and will document the methodology notes soon too.

[2019-12-04 21:52] mcomella commented on #13
We're not using Nimbledroid heavily yet so this is not a priority for me at the moment.

[2019-12-05 17:22] emalysz commented on #16
From Ilya:
Please add (or update) this parameter of the curl upload command: -F device_config="android7"

[2019-12-05 18:17] hawkinsw commented on #16
`This causes curl to POST  data  using  the  Content-Type multipart/form-data according to RFC 2388.`

[2019-12-06 23:24] mcomella commented on #33
Status update: I've opened a PR https://github.com/mozilla-mobile/fenix/pull/7004 against Fenix to add HotStart measurements to the app. Leveraging Will's work, I've written a script – WIP but working end-to-end – to set up the test, run it, and record the results in a loop.

Next steps:
- Add comparable hot start measurement to Fennec ESR; get review
- Try the script on Fennec hot start
- Finaliz

[2019-12-07 03:04] hawkinsw commented on #32
Methodology section is complete.

[2019-12-07 03:11] hawkinsw opened #34 "Fenix startup time increases with the number of open tabs"
### Why/User Benefit/User Problem
The more tabs that a user carries over between browser sessions, the longer it takes to start Fenix. As evidence of this behavior, consider the following two graphs:

![launchtimes2](https://user-images.githubusercontent.com/8715530/70368118-1a515700-1875-11ea-83e8-1f6fe8f7e666.png)
![launchtimes](https://user-images.githubusercontent.com/8715530/70368119-1a515700

[2019-12-10 01:14] mcomella commented on #12
This isn't support important right now so I'm going to unassign and send to triage.

[2019-12-10 03:10] mcomella commented on #28
@hawkinsw Can you notify 1) the team responsible for this change and 2) the Fenix team (e.g. by adding their group-triage label or pinging someone in #fenix-team)? Then, assuming you're not doing any more active work on it, unassign and send it back to triage?

[2019-12-10 08:22] hawkinsw opened #35 "Investigate differences between force-stop and "normal" stop of an Android Task"
What are the differences between the two? What are the implications for testing?

[2019-12-10 08:24] hawkinsw opened #36 "Investigate meaning of 'Displayed'"
https://developer.android.com/topic/performance/vitals/launch-time#time-initial

[2019-12-12 19:41] mcomella commented on #33
This work was deprioritized: unassigning and sending back to triage.

[2019-12-12 22:50] hawkinsw opened #37 "Add Support for Nightly Testing of Non-Onboarding Cold Start"
Meta bug.

See e.g.

https://github.com/mozilla-mobile/fenix/pull/7127

[2019-12-12 23:41] mcomella commented on #33
Additionally, I wrote a script to generate hot start results: https://github.com/hawkinsw/fenix-nightly-performance-tests/blob/master/hot-start.sh

[2019-12-13 01:51] mcomella commented on #22
We've added this to our weekly reviewed goals so I don't think this ticket is necessary anymore.

[2019-12-13 01:51] #22 closed, assigned to nobody

[2019-12-13 01:52] mcomella commented on #30
Assigning self because I'm setting up the discussion but this is a team decision.

[2019-12-13 02:25] mcomella commented on #21
Note: we still need to merge the historical release history into the new ND app.

[2019-12-13 23:03] mcomella commented on #30
We're focusing on cold startup to homescreen.

[2019-12-13 23:03] #30 closed, assigned to mcomella

[2019-12-13 23:18] mcomella commented on #31
Closing because I believe this is completed. Please reopen if you disagree.

[2019-12-13 23:18] #31 closed, assigned to hawkinsw

[2019-12-13 23:19] mcomella commented on #32
Closing because I believe this is completed: please reopen if you disagree.

[2019-12-13 23:19] #32 closed, assigned to hawkinsw

[2019-12-16 02:30] hawkinsw commented on #35
I propose closing this. The need to for this investigation was to build a reasonable methodology for testing. It appears that we came to consensus on that methodology for a deep investigation here is not necessary.

For the record, I did discover a few things:

1. When you issue `am force-stop <package>` when <package> is in the foreground, it *seems* to kill <package> before <package>'s "closing"

[2019-12-16 02:32] hawkinsw commented on #37
Code for this has been added. I will wait to resolve the issue until I see the results from these tests later today/tonight.

[2019-12-16 05:57] hawkinsw commented on #37
All done.

[2019-12-16 05:57] #37 closed, assigned to hawkinsw

[2019-12-16 07:36] hawkinsw opened #38 "Dec 13 - Dec 14 Performance Change"
There is a significant change in performance between the Nightly version on Dec 13 and the Nightly version on Dec 14. On the 'Nightly' rig, there is a performance _improvement_. On Nimbledroid, there is a performance _regression_. Nimbledroid says that the regression is the result of a long-running method to instantiate "Rx plugins". My gut says that this is related to the change that @colinthesho

[2019-12-16 18:38] mcomella commented on #18
Triage: we're already running tests on RB and I don't think Sample Browser has any significance: closing.

[2019-12-16 18:38] #18 closed, assigned to nobody

[2019-12-16 19:59] Malclir opened #39 "RecyclerView not set up correctly re-uses images for wrong viewHolder"
Blocked: a separate tabs tray is replacing the home screen: https://github.com/mozilla-mobile/fenix/issues/1063. We should wait on the new implementation to see if this is still an issue.

### Why/User Benefit/User Problem
When scrolling through the HomeFragment with multiple tabs, the viewHolders don't always re-use the same images

This image shows a youtube picture used for an amazon tab.

![im

[2019-12-16 20:47] hawkinsw commented on #38
@colintheshots is going to put in a PR for some testing.

[2019-12-17 01:14] ecsmyth opened #40 "Add telemetry probe for startup time"
### Why/User Benefit/User Problem
Startup time is an oft cited reason for friction and churn. We need to understand how long it takes Fenix to startup for our users so that we can prioritize work to address regressions and outliers that result in decreased engagement or churn. Local and CI-based testing provides an incomplete picture of how Fenix performs at startup.

### Impact
Improved understan

[2019-12-17 07:52] hawkinsw commented on #38
The performance _improvement_ that we saw in the Nightly rig is from a difference in timing for printing stack traces when handling Strict Mode Violations.

[2019-12-17 07:53] hawkinsw commented on #38
@colintheshots Is going to land his fix for the regression and then we will close this.

[2019-12-17 07:54] hawkinsw commented on #16
I can confirm that this works. And works as expected. Sending back to @emalysz .

To be more explicit, I was using a REST client (insomnia) to upload an APK to ND for testing. In the body of the request, I added a field in the multipart body called `device_config` and set the text value as `android7`. I changed no other upload parameters (ie, authentication mechanism, apk in the multipart body, et

[2019-12-17 21:49] mcomella commented on #40
It may be valuable to revisit the cold/warm/hot startup definition doc here.

[2019-12-17 22:02] MarcLeclair opened #41 "Look into whether or not some part of Glean initialization can be done separately, or later after start up to reduce start up time."
### Why/User Benefit/User Problem
Current Glean implementation takes a big chunk of start up time ( ~10-20% at times). I think we should try to see if we can offload some of it to after initialization, or maybe some to a worker thread. I am aware that Glean needs to register observers on the UI thread, but I think it would be worthwhile to investigate for a bit.
### Impact
Faster start up time mea

[2019-12-17 22:20] hawkinsw commented on #41
The situation is actually a little different than that:

Glean initialization is mostly done asynchronously. However, it still must be done on the main thread. After the asynchronous task is created, the blocking part of the its initialization completes and startup continues. However, the problem is that the coroutine gets scheduled to execute on the main thread before the application has finished

[2019-12-18 08:21] hawkinsw commented on #41
The situation is even worse for the Applink case. Glean initialization is run after `FenixApplication.onCreate()` but before (the bulk of) `HomeActivity.onCreate()` executes and, most importantly, before GeckoView starts to load the URL.

[2019-12-18 19:26] emalysz commented on #16
Nimbledroid now runs on Android5 and Android7 as of https://github.com/mozilla-mobile/fenix/pull/6985

[2019-12-18 19:26] #16 closed, assigned to emalysz

[2019-12-19 17:35] mcomella commented on #35
Sounds good to me to close – thanks for looking into this. The fact that `onPause` & friends aren't called is particularly interesting.

fwiw, I want to start collecting our unknowns about our testing methodology in a single place so I'll remember to copy this in.

[2019-12-19 17:35] #35 closed, assigned to hawkinsw

[2019-12-20 00:03] mcomella opened #42 "Finalize cold startup measurement system for GA"
### Why/User Benefit/User Problem
We need a system we're confident in, or at least understand what we don't know about it, to measure our cold startup performance for GA. We currently have ND & Will's system: let's discuss our options.

### Impact

### Acceptance Criteria (how do I know when I’m done?)
- Define requirements for cold startup measurement
- Identify what's missing for each of Nimbled

[2019-12-20 18:53] mcomella opened #43 "Get and distribute Fenix API tokens for local performance development"
### Why/User Benefit/User Problem
Some 3rd party SDKs do not have the same performance implications if they are not provided API keys: we should provide API keys to mitigate.

### Impact
Local devs will not see all the major contributors to performance without it.

### Acceptance Criteria (how do I know when I’m done?)
- Retrieve API keys for major SDKs: Leanplum, Adjust, & Sentry
  - Note: there

[2019-12-20 18:58] mcomella opened #44 "Figure out how to make signing release builds easier for developers"
Post GA?

### Why/User Benefit/User Problem
In order to use "release" build variants like `forPerformanceTest`, we have to do our own signing. However, it's non-trivial integrate release signing into the regular Android Studio build process: this bug is to make it easy.

### Impact
Without this, setting up local performance builds is an annoyance: developers have to do something hacky like adding

[2019-12-20 19:02] hawkinsw commented on #43
FYI: Tokens should *not* be considered secret. Our production keys are readily accessible by decompiling the APK that we distribute in the Play store.

[2019-12-20 20:33] mcomella opened #45 "Mitigate randomized Experiment selection, feature flags for performance analysis"
### Why/User Benefit/User Problem
In our analysis for debug vs. release builds https://github.com/mozilla-mobile/fenix/issues/6931, we decided to use a release-like build. However, in release-like builds, Experimentation is enabled and users may randomly opt into various experiments: this bug is to understand the implications and mitigate them.

Furthermore, some features are behind "feature flags

[2019-12-26 18:36] mcomella commented on #44
Can we just land `signingConfigs.debug` in tree?

[2019-12-26 18:38] mcomella commented on #44
Can we just land the `signingConfigs.debug` line, as suggested in the wiki, in-tree? This would sign all `forPerformanceTest` builds with the debug keystore. This seems fine to me since we're not releasing the builds. We might have to update the TC configs though such that it no longer tries to sign `forPerformanceTest` builds with a release configuration.

@hawkinsw What do you think?

[2019-12-26 18:42] hawkinsw commented on #44
Yes! I agree! That is, of course, with the caveat that I see no documentation anywhere about the validity of the `signingConfigs` object. That's not our problem -- just the sad state of the gradle Android build documentation, as far as I can tell. :-)

[2019-12-27 00:15] mcomella commented on #42
I completed a document investigating the first three bullets. I need to run my summary by the team so we can decide together which is the right path forward.

[2019-12-27 16:35] mcomella opened #46 "Investigate how to interpret & utilize Google Play Vitals"
### Why/User Benefit/User Problem
Google Play Vitals has some relevant information to us:
- startup statistics
- ANR rate
- battery related statistics
- Slow rendering, frozen frames

This could potentially be useful to review on a regular basis, if we understood how to use them. This bug is to investigate how we might use them.

### Impact
With a little research, we might be able to catch major p

[2019-12-27 17:58] mcomella commented on #39
Moving to triage: this is blocked as mentioned in comment 0.

[2019-12-30 17:31] mcomella commented on #17
We can reopen this if it's useful to us later: this is not in scope for GA.

[2019-12-30 17:31] #17 closed, assigned to nobody

[2019-12-30 17:31] mcomella commented on #15
I added this as an unknown to our "measurement methodology" doc and I don't think we need to track it as a bug.

[2019-12-30 17:31] #15 closed, assigned to nobody

[2019-12-30 17:46] mcomella commented on #26
I think this email is confusing: "If you would like the front-end performance group to investigate performance issues, please contact me directly." might discourage folks from filing bugs as they do now and I don't want that. I'm inclined to close this as I think what we're doing is working well enough for GA and we can notify folks about more formal perf consultations afterwards.

Removing from p

[2019-12-30 17:51] mcomella commented on #23
This bug isn't actionable. To alleviate triage confusion, closing this issue: let's open a new issue when it's more actionable.

[2019-12-30 17:51] #23 closed, assigned to nobody

[2019-12-30 17:52] mcomella commented on #13
Alerting isn't important if we're checking the dashboards: moving to "unimportant" to alleviate any confusion in triage.

[2019-12-30 17:53] mcomella commented on #12
Not important right now: moving to unimportant.

[2019-12-30 20:10] mcomella commented on #45
Triage: we have no known experiments in Fenix GA so low priority. In fact, Colin is looking at taking experiments out of GA to improve startup perf.

[2019-12-30 21:19] mcomella commented on #9
afaik, release criteria is completed: closing.

[2019-12-30 21:19] #9 closed, assigned to nobody

[2019-12-31 23:07] mcomella commented on #42
I sent out a meeting invite: let's discuss with the team.

[2019-12-31 23:10] mcomella commented on #42
Waiting: on team discussion.

[2020-01-02 18:47] MarcLeclair opened #47 "Investigate useage of Shared Pref on cold start"
### Why/User Benefit/User Problem
### Impact
### Acceptance Criteria (how do I know when I’m done?)

[2020-01-03 23:46] mcomella commented on #43
I distributed Leanplum dev tokens.

In my local testing,
- Sentry is wrapped in such a way that it is not init until needed (i.e. not on startup). Not sure if we need to set up tokens urgently (fyi: I'm using a firefox-tv-debug token)
- Adjust has a relatively minimal startup time but it's in `ENVIRONMENT_SANDBOX`: maybe we don't need tokens urgently? We should do more research

[2020-01-06 19:13] MarcLeclair commented on #47
Total found: ~136ms - 160ms on G5+ on Cold Start (new install or not). This number counts in the push setup which might change in the near future.  (this number is without the Glean Migration code. With the later is ~190-250ms).

Keep in mind, a single Shared Pref call in profiles aren't expensive (lowest being 5ms highest being ~70ms) but they do add up, especially if different shared pref files

[2020-01-06 21:51] mcomella commented on #47
@MarcLeclair Should we file a new bug for the remaining action items? What are the remaining action items? I suspect one is 1) investigate if merging sharedprefs into a single branch improves performance.

Can this issue be unassigned?

[2020-01-08 02:03] mcomella commented on #1
We'll file smaller, actionable issues if we want to make changes to our integrations so I'm going to close this to clean up the project board.

[2020-01-08 02:03] #1 closed

[2020-01-08 02:04] mcomella commented on #36
@hawkinsw Is this complete? If not, imo it's not a priority for us so I think we can unassign and send it back to triage. We can prioritize this as part of the FNPRMS next steps.

[2020-01-08 19:09] mcomella commented on #42
We had a discussion and decided to use FNPRMS to report externally. I'm creating a list of next steps.

[2020-01-08 22:48] mcomella commented on #42
I added proposed next steps to the "Cold startup notes" document: I'll run it by the team.

[2020-01-08 22:55] mcomella commented on #42
Waiting until thursday EoD to validate the list.

[2020-01-08 23:02] mcomella opened #48 "Move FNPRMS to use Nightly builds"
Currently we're using `forPerformanceTest` which, due to the `debuggable` flag, has unpredictable performance characteristics, as per [our Build Variant recommendations](https://github.com/mozilla-mobile/fenix/#performance-build-variants). We should move to Nightly to get more reliable results.

### Acceptance criteria
- FNPRMS uses Nightly builds for all runs moving forward
- Open question: discu

[2020-01-08 23:44] mcomella opened #49 "Move FNPRMS to mozilla-mobile private repo"
It's currently available elsewhere but this will give the team access.

[2020-01-08 23:49] mcomella opened #50 "Determine what needs to be done to get comparable fennec measurements in FNPRMS"
We want to check Fenix performance (esp. cold startup) against Fennec performance in FNPRMS. We should determine what needs to be done to get these comparable measurements.

### Acceptance criteria
- Understand what needs to be done to get comparable measurements from Fennec in FNPRMS
- Follow-up issues are filed to do the work
  - Do we need to make changes to Fennec and thus figure out how to bu

[2020-01-09 00:06] mcomella commented on #49
Done.

[2020-01-09 19:56] hawkinsw commented on #48
Waiting for review on the PR.

[2020-01-09 20:00] hawkinsw opened #51 "Parameterize FNPRMS to run different variants"
### Why/User Benefit/User Problem

Make it possible for FNPRMS to *easily* run different Fenix variants. This is necessary so that the team has visibility into the relative performance of different variants as Fenix development progresses.

### Impact

### Acceptance Criteria (how do I know when I’m done?)

Ability to run different variants of FNPRMS by simply changing a single parameter.

[2020-01-09 21:25] mcomella opened #52 "Replace FNPRMS "AL" and "HA" with Intent names (VIEW & MAIN)"
To avoid confusion. :)

[2020-01-10 06:22] hawkinsw commented on #49
Please adjust permissions on this repo so that team members can approve and merge PRs

[2020-01-10 19:21] mcomella commented on #49
@hawkinsw Can you elaborate on the issue you're seeing?

I believe the engineers should have permissions to review & merge, after my changes yesterday. ecsmyth & pslawless are not part of the Mozilla org so they needed special access (but still don't have merge permission, I think).

[2020-01-10 22:49] mcomella commented on #36
Cleaning up project board so closing issue I think is not in progress: I documented that we needed to do this in our "next steps" guide and it will be presented in a new, more comprehensive issue.

[2020-01-10 22:49] #36 closed, assigned to hawkinsw

[2020-01-10 22:52] mcomella commented on #43
Triage by myself: I think Adjust & Sentry are not low hanging fruit so I don't think we need to distribute these yet. Moving to "unimportant".

[2020-01-10 23:19] hawkinsw commented on #49
` You’re not authorized to merge this pull request. `

[code]

[2020-01-11 01:30] mcomella opened #53 "Review existing FNPRMS code"
As per our best practices, we should review our FNPRMS code – and our testing methodology – since it hasn't been done yet.

While we're at it, we should validate the code is ready to be open-sourced: i.e. it doesn't contain anything sensitive. If not, we should file a follow-up issue to address.

[2020-01-11 01:32] mcomella opened #54 "Document unknowns with our FNPRMS measurement methodologies"
One of the advantages of using our own performance measurement system is we can document the things we're not sure are correct. Let's document what we know from FNPRMS. Consider if some things are already documented in code comments or hawkinsw's WIP doc.

Here are some additional concerns we may want to document:
* Should we do additional research to determine we might be missing? E.g. Colin sugg

[2020-01-11 01:36] mcomella opened #55 "Begin reporting with FNPRMS"
Once we've:
1. Get comparable fennec measurements
1. Review the code
1. Document unknowns

We should start using FNPRMS to report our numbers externally & to check against our release criteria progress.

This is a minimal engineering issue: essentially, we should notify pslawless that we're ready to use it and work with pslawless to make those numbers available (if any work is needed).

[2020-01-11 01:37] mcomella opened #56 "Add Beta & Release measurements to FNPRMS"
Dupe or dependent on #51 ?

We are measuring Nightly: we should additionally measure Beta & Release to ensure there are no surprising differences in performance characteristics.

[2020-01-11 01:38] mcomella opened #57 "Add Pixel 2 measurements to FNPRMS"
Our release criteria specifies we should validate performance on high-end and low-end reference devices: we should add the Pixel 2, our high-end reference device.

[2020-01-11 01:41] mcomella opened #58 "Document how to run FNPRMS locally"
We should all be able to run FNPRMS easily to validate performance or transfer the official FNPRMS to a different environment, e.g. CI. This documentation will help us do that.

This may already be done in hawkinsw's WIP FNPRMS documentation.

[2020-01-11 01:43] mcomella commented on #49
@hawkinsw This should be addressed: I deleted all branch protection. Please reopen if it's still not fixed.

[2020-01-11 01:43] #49 closed, assigned to mcomella

[2020-01-11 01:45] mcomella commented on #42
I filed our issues for next steps so there is no actionable work for this issue any longer: closing.

[2020-01-11 01:45] #42 closed, assigned to mcomella

[2020-01-11 01:58] mcomella opened #59 "Get fennec cold applink measurement from FNPRMS"
We're currently getting our weekly cold applink to about:blank numbers via manual runs of our "prelim" measurement system. afaik, this is because:
* We don't have a Fennec cold applink number from FNPRMS
* Our "prelim" Fennnec cold applink number is not directly comparable to our Fenix cold applink FNPRMS number. (@hawkinsw Am I correct to say these are not comparable?)

We should get a baseline m

[2020-01-11 08:01] hawkinsw commented on #59
Using the latest code from FNPRMS that makes manual measurement easier, here are some results for the AL cases:

1. Fenix (nightly, January 10, 2020): 599ms
2. Fennec (68): 511ms

For a delta of 17.2%.

These two numbers are comparable in so far as they both reflect Android's `Display` time. The caveat is that they may not be comparable in terms of user-perceived startup times. See, e.g., the open

[2020-01-13 20:32] hawkinsw commented on #57
I've wanted to be able to have FNPRMS target different devices for a while, so this would be a good driver for that work. In fact, right now FNPRMS assumes that there is only a single device attached to the system when it is run. If there is more than one, it will fail (or potentially run on what `adb` thinks is the default device -- I haven't tried, to be honest).

[2020-01-14 02:57] mcomella commented on #57
iirc, it fails. You can specify a device with `adb -s <DEVICE-SERIAL-NUMBER> <command>`.

[2020-01-14 03:12] mcomella commented on #57
Triage: Eric wants to follow up with more data before we prioritize this issue.

[2020-01-14 03:14] hawkinsw commented on #54
In case anyone is interested in following along, here is where I am collecting my notes on the definition of `Displayed:`: https://docs.google.com/document/d/1-BZF1V88HPhWmsFV9-hFulfB7RHgTPTvVsOLwZao3Z4/edit?usp=sharing

[2020-01-14 03:42] mcomella commented on #54
@hawkinsw As I discovered today, it might be helpful to take a note that
making the RecyclerView return 0 items does not appear to affect the
`Displayed` time so `Displayed` seems to stop before the RecycleView is
drawn. However, the user has to wait for the RV to draw before they see the
app so it's probably not capturing everything. Sorry if this is unclear:
it's getting late. :d

On Mon, Jan 13

[2020-01-14 03:53] mcomella opened #60 "Enable developers to validate cold startup performance changes on WIP + document it"
When a non-perf group developer is making changes, they should be able to _easily_ determine whether or not their change has a non-trivial impact on cold startup performance. We should build the tools to enable developers to do this.

We should consider:
- Whether this will run locally or in the cloud
- Using FNPRMS as a base, using jimporter's script as a base, merging the two of them, using Nimb

[2020-01-14 05:54] hawkinsw commented on #57
On Mon, Jan 13, 2020, 9:57 PM Michael Comella <notifications@github.com>
wrote:

Yup, that's the one! I was just saying that it's not currently handled in the code right now.

(edited for tone!)

[2020-01-14 08:27] hawkinsw commented on #54
Thanks! Appreciate the note. See the doc above for more information about my progress on investigating `Displayed`.

[2020-01-14 18:47] #48 closed, assigned to hawkinsw

[2020-01-15 01:40] mcomella opened #61 "Output JSON from FNPRMS"
Request from Eric to import data to his dashboard.

[2020-01-15 04:02] mcomella commented on #59
lgtm and I passed this info on to @pslawless. I'm going to close as Done and we can reopen if pslawless has issues.

[2020-01-15 04:02] #59 closed, assigned to hawkinsw

[2020-01-15 06:15] hawkinsw commented on #61
He requested a particular format:

[code]

[2020-01-15 08:35] hawkinsw commented on #61
@ecsmyth e.g.,

https://github.com/mozilla-mobile/fenix-nightly-perftest-results/blob/master/hanoob-results.json

?

[2020-01-18 02:01] ecsmyth opened #62 "Investigate Fennec telemetry"
* What percentage of Fennec users use Sync?
* What is the median, p75, p90, p95 size for synced history, top sites, etc.
* What are the five most popular Fennec addons and what percentage of Fennec clients have them installed?

[2020-01-21 03:17] mcomella commented on #61
afaict, addressed by https://github.com/mozilla-mobile/FNPRMS/pull/3.

[2020-01-21 03:17] #61 closed, assigned to hawkinsw

[2020-02-01 09:26] mcomella opened #63 "Build release-like build of Fennec for comparable measurements in FNPRMS"
We need to run the Fennec build I instrumented locally with `reportFullyDrawn` (my diff is also on Slack) in FNPRMS to get our comparable measurements to Fenix on cold startup.

If we need to enter API tokens manually, note that I believe I have access to "good enough" versions of the ones that I'm aware of.

[2020-02-01 09:26] mcomella commented on #50
We know what needs to be done and have done it except for https://github.com/mozilla-mobile/perf-frontend-issues/issues/63: we'll do the remaining work in that issue.

[2020-02-01 09:26] #50 closed, assigned to hawkinsw

[2020-02-05 22:02] mcomella commented on #40
Alessio suggested we can use Glean performance metrics to capture these effectively.

[2020-02-06 17:10] mcomella commented on #63
I discovered the "N" jobs in this try push seem to include the Pocket keys and may also include the Leanplum & Adjust keys as well: https://treeherder.mozilla.org/#/jobs?repo=mozilla-esr68&searchStr=android%2Crelease%2Cbuild&revision=adc498831718f05359ea4715125d899458de9024

The job name appears to be `build-android-aarch64-release/opt`. Unfortunately, I don't have the scopes to add jobs in treehe

[2020-02-06 17:26] mcomella commented on #63
Looking at logcat, I see notes from Adjust and Leanplum:

This is indicative that both Adjust and Leanplum are included because both Adjust and Leanplum are never started if the proper build flags and API keys are not provided ([Adjust1](https://searchfox.org/mozilla-esr68/rev/6b247ceac5a7a31bdfc80635cfdb31012557fb78/mobile/android/base/java/org/mozilla/gecko/adjust/AdjustHelper.java#30), [Adjust2

[2020-02-07 19:13] mcomella commented on #63
I'm unblocked on adding jobs but my jobs don't have secrets. I'm working to figure out why the builds I tested above have secrets and mine don't.

[2020-02-10 21:05] mcomella commented on #63
After talking with relman, treeherder, and various other falks, I think I have the following options to get comparable measurements from fennec:
1. Build a release build in CI, providing my own secrets locally (3 options: add directly to the source, add a custom mozconfig, use `--setenv` in try syntax)
    1. I believe all 3 expose the secrets so I'd have to come up with disposable ones, which I'm

[2020-02-10 21:24] mcomella commented on #63
Here are a few pushes I made I want to keep track of:
* ryanVM triggered builds but this crashes on startup ([here](https://treeherder.mozilla.org/#/jobs?repo=try&group_state=expanded&selectedJob=287804914&revision=ebd7c289df4fb8399bca42951018dbad653a9c7c))
* My first job, no keys ([here](https://treeherder.mozilla.org/#/jobs?repo=try&revision=b953639cd162130a686c29235d69601e19692375))
* My second

[2020-02-11 22:28] mcomella commented on #63
I discovered an alternative approach: performance characteristics appear to be similar when providing invalid keys to Adjust and Leanplum so I made [a push](https://treeherder.mozilla.org/#/jobs?repo=try&revision=0c64283c3b558c069a59f7eda9f5257c08853f6a) where Adjust and Leanplum are using the default invalid tokens and I wrote custom code to store Pocket content we'd normally get from the network

[2020-02-11 22:46] mcomella commented on #63
I found some local notes I made for other approaches I could try to follow:

However I'm not sure if that will apply to Fennec68. And I've never tried to build my own Fennec so unfortunately I can't help there.

Second commenter:

[2020-02-12 17:28] mcomella commented on #63
I created a release-like build I'm comfortable with and uploaded it and its caveats to the Performance drive. The remaining work here is to:
* (optionally?) Review the `reportFullyDrawn` instrumentation
* (optionally?) Review the work-around I added for Pocket support
* (follow-up) Get measurements (in FNPRMS?) for Fennec cold startup
* (follow-up) Add measurements to dashboards

[2020-02-12 17:52] mcomella opened #64 "Get comparable measurements to Fenix from Fennec release-like build, cold startup to homescreen"
We got our fennec release-like build in https://github.com/mozilla-mobile/perf-frontend-issues/issues/63: we should use that build to get cold startup measurements.

### Acceptance Criteria (how do I know when I’m done?)
* Get a defacto number for Fennec cold startup to homescreen
* Ask ecsmyth to add measurements to dashboard (ask if we need a separate issue)
* Ask pslawless to add measurements t

[2020-02-12 17:53] mcomella commented on #51
I'm not sure how to interpret this so I'm going to close.

[2020-02-12 17:53] #51 closed, assigned to nobody

[2020-02-12 17:54] mcomella commented on #58
This is documented in tree, kind of: going to close and we can file a new issue when we need this. https://github.com/mozilla-mobile/perf-frontend-issues/issues/60 will also move this forward.

[2020-02-12 17:54] #58 closed, assigned to nobody

[2020-02-12 17:55] mcomella commented on #55
We're already doing this: closing.

[2020-02-12 17:55] #55 closed, assigned to nobody

[2020-02-12 17:56] Malclir opened #65 "FNPRMS time calculation gives wrong readings for certain ranges."
FNPRMS has a problem right now where we convert units such as 1s92ms ( which is meant to represent 1092ms) to 1920ms which gives us wrong averages.

[2020-02-12 18:46] mcomella commented on #63
emalysz is going to review my code and I filed follow-ups for getting the measurements.

[2020-02-12 21:38] Malclir opened #66 "Getting Px2 numbers into FNPRMS nightly"
Wondering if it would be advantageous to have px2 numbers into FNPRMS. I know I can set up the cron job locally on my desktop and just push it to the repo (could be a separate branch?).

[2020-02-12 21:49] Malclir commented on #66
@ecsmyth added you since I'm not sure if RC talk about Pixel 2 numbers

[2020-02-12 21:58] mcomella commented on #63
I have to make a new build: I found a bug where the top sites and pocket domains are fetched asynchronously and that operation is affected by the quality of network connectivity. We don’t want our “visual completeness” to vary based on network quality.

[2020-02-17 13:25] mcomella opened #67 "FNPRMS stopped recording results on 2/14"
See CSV results file where NA is shown: https://github.com/mozilla-mobile/fenix-nightly-perftest-results/blob/0c3afa782604e5e3283b07160c72585d39f1ba25/hanoob-results.csv

If this is related to making changes to FNPRMS, in the future we should consider avoiding making those changes around Friday so we don't miss a weekend of results.

[2020-02-17 13:34] mcomella opened #68 "Repopulate missing FNPRMS data, or mark invalid"
We have a few days of invalid FNPRMS data: if it's trivial, we should rerun the tests and add the data. If it's not trivial, we should mark the data as invalid (either in FNPRMS or in Eric's dashboard).

Due to https://github.com/mozilla-mobile/perf-frontend-issues/issues/65, the invalid dates are suspected to be:
* 2/7
* 2/8
* 2/9

Due to https://github.com/mozilla-mobile/perf-frontend-issues/iss

[2020-02-17 18:28] mcomella commented on #57
FNPRMS is currently hard-coded to download armv7 builds so we should make sure to change that when adding support for other devices.

[2020-02-17 19:01] mcomella commented on #53
I completed my review of FNPRMS: for things that need to change, they are:
- #65
- https://github.com/mozilla-mobile/perf-frontend-issues/issues/69
- Should we start the activity with `org.mozilla.fenix.nightly/.App` instead of hard-coding specific Activities? I believe that's the default now. For example, this might break when we move to MigrationDecisionActivity
  - _edit:_ we'll need to do this

[2020-02-17 19:53] Malclir commented on #53
@mcomella  concerning the comment:

Would it really matter, since we're uninstalling the app between each run?

[2020-02-17 19:59] mcomella opened #69 "Run FNPRMS on fennecNightly builds on G5"
Our results currently come from Fenix Nightly but fennec* is what users will be receiving.

Note that we'll need to modify the launcher intent to use MigrationDecisionActivity or /.App instead of hard-coding HomeActivity (and perhaps similar actions for app link).

[2020-02-18 21:53] mcomella commented on #26
Not a priority right now.

[2020-02-18 21:53] #26 closed, assigned to nobody

[2020-02-18 22:01] mcomella commented on #66
@bdekoz has P2 numbers already but hasn't yet set up the mechanism to add them to our git repository.

[2020-02-18 22:23] mcomella opened #70 "FNPRMS logs are very large, bloating results repository"
Locally, the fenix-nightly-perftest-results repository is 1.3G: that seems quite large for a few months of data. We should consider hosting these artifacts somewhere else (e.g. so that we can purge them if they grow too large).

[2020-02-19 00:56] mcomella commented on #53
Merged my PR with nit fixes that do not change anything significant in the code base – https://github.com/mozilla-mobile/FNPRMS/pull/9 – and opened follow-ups for the more significant issues.

[2020-02-19 00:58] mcomella commented on #68
We merged the PR so this can be closed.

[2020-02-19 00:58] #68 closed, assigned to MarcLeclair

[2020-02-19 01:11] emalysz commented on #63
I reviewed the code, and I think this Fennec build is sufficient to use in FNPRMS measurement comparisons

[2020-02-19 01:28] mcomella commented on #53
We don't uninstall the app between each run: https://github.com/mozilla-mobile/FNPRMS/blob/123f037d8037001188536ec977251f983945538e/common.sh#L324-L335

[2020-02-19 01:30] mcomella commented on #53
I think we'll address the nits over time as we change the code so no need to file them all. I think there's nothing else to be done for this issue: closing.

[2020-02-19 01:30] #53 closed, assigned to mcomella

[2020-02-19 01:37] mcomella commented on #63
I trigged a new build on Taskcluster: now we wait. 😁

[2020-02-19 21:21] mcomella commented on #63
I completed the final build (20-02-18), which is available in the Android FE Perf/Builds/fennec-68 dir on the perf drive. There is nothing more to be done here.

[2020-02-19 21:21] #63 closed, assigned to mcomella

[2020-02-19 21:27] mcomella commented on #64
Marc posted his previous approach:

The small changes I would make to this are:
- In step 2, we both need to pass onboarding and clear the hint text at the top of the homescreen by clicking X
  - Ensure we don't load an websites as this will change the homescreen state and break the fennec `reportFullyDrawn` method which is hard-coded to what's on the homescreen
- `manual_test.sh` will call `run_t

[2020-02-19 21:32] mcomella opened #71 "Get Fennec cold startup, applink baseline measurements from FNPRMS on the Pixel 2"
We want to understand how fast Fennec startup is on the P2 so we can compare against Fenix: like https://github.com/mozilla-mobile/perf-frontend-issues/issues/64 but for the Pixel 2. This probably assumes we're already measuring Fenix on the Pixel 2 regularly: https://github.com/mozilla-mobile/perf-frontend-issues/issues/57

We may already have applink measurements (from hawkinsw) but I'm not sure

[2020-02-19 21:50] Malclir commented on #64
Btw @mcomella , I comment out the uninstall / install process when I ran it the first time. Should've mentionned that.

[2020-02-20 21:16] mcomella commented on #64
@MarcLeclair Now that you have the measurement, would you mind giving it to Eric so he can update the dashboard? Then you can close this bug.

[2020-02-20 23:18] mcomella opened #72 "Report time to first frame drawn in FNPRMS (M1)"
We're currently reporting visually complete time in FNPRMS. After https://github.com/mozilla-mobile/fenix/issues/7781, visually complete time will diverge from first frame drawn so we'll have two unique values. Ideally, we can capture and report them both.

To be specific, we want to report "Displayed" time in FNPRMS too.

[2020-02-21 21:53] #67 closed, assigned to MarcLeclair

[2020-02-21 21:53] #65 closed, assigned to MarcLeclair

[2020-02-21 21:54] #64 closed, assigned to MarcLeclair

[2020-02-22 01:12] mcomella commented on #69
The builds are available at https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly (I believe)

[2020-02-24 17:45] mcomella commented on #39
Dupe https://github.com/mozilla-mobile/fenix/issues/8325 (since it's filed in Fenix).

[2020-02-24 17:45] #39 closed, assigned to nobody

[2020-02-25 06:10] ecsmyth commented on #62
* [Quantities of things in Fennec first syncs that occurred in the last 84 days](https://sql.telemetry.mozilla.org/queries/68573/source)
* [Proportion of Fennec users have an addon installed](https://sql.telemetry.mozilla.org/queries/66698/source#169084)
* [Most popular addons](https://sql.telemetry.mozilla.org/queries/66869#table)

[2020-02-25 06:13] ecsmyth commented on #62
[Most popular addons](https://sql.telemetry.mozilla.org/queries/66869#table)
**Addon name (% of clients)**
uBlock Origin (43%)
Adblock Plus (15%)  
Ghostery (9%)
HTTPS Everywhere (5%)
Privacy Badger (5%)

[2020-02-26 19:33] ecsmyth opened #73 "Build visualization for Fenix page load telemetry"
Build stmo dashboard to visualize Fenix page load telemetry to include histogram and time series either by channel or with the ability to select the channel.

[2020-02-27 17:44] bdekoz commented on #69
Looks like the testing machine in SF is up and giving reliable numbers for P2, P4xl, s10 for both the old binary (fenix-nightly) and fennec-nightly, as requested. The results repo is here:

https://github.com/bdekoz/FNPRMS-results

If this looks ok, then let's close this.

[2020-02-27 17:47] bdekoz commented on #71
This is completed, see

https://github.com/bdekoz/FNPRMS-results

Which has results for the P2, P4xl, and Samsung S10.

If this is considered sufficient, please close this.

[2020-03-02 18:31] mcomella commented on #69
@ecsmyth Would you be able to validate that the results look okay? I think you have the most context on these numbers as you integrate them into your dashboard.

[2020-03-03 23:18] mcomella opened #74 "Validate new PageStop app link methodology"
We created a new app link methodology: let's double-check that it's working correctly with frame-by-frame video analysis

[2020-03-03 23:18] mcomella commented on #74
Analysis completed & available here: https://drive.google.com/drive/folders/1iS8U7HnucrO36DJEXKv42mbA5e0MTOaO

[2020-03-03 23:18] #74 closed, assigned to mcomella

[2020-03-03 23:19] mcomella opened #75 "Rerun FNPRMS on fennecBeta app link"
We want to see if nightly vs. beta has a significant impact

[2020-03-03 23:53] mcomella opened #76 "Fix misc. FNPRMS issues"
Currently:
- HANOOB shows NA from 2.24 (~~I believe it’s because it’s looking for wrong app ID~~ forgot to change branches)
- Mystery log: “Cannot run with invalid product: fennec-nightly-g5.” What impact does this have in practice?
- AL missing values for 02.29
- FIXED: ZeroDivisionError when parsing with new AL methodology

[2020-03-04 00:44] mcomella commented on #76
I believe fixed by https://github.com/mozilla-mobile/FNPRMS/pull/15 & https://github.com/mozilla-mobile/FNPRMS/pull/14 & https://github.com/mozilla-mobile/FNPRMS/pull/13.

[2020-03-04 00:44] #76 closed, assigned to mcomella

[2020-03-04 20:26] ecsmyth commented on #66
I've added P2 numbers @bdekoz is generating to the [dashbaord](https://sql.telemetry.mozilla.org/dashboard/performance-fenix-release-criteria)

[2020-03-04 20:26] #66 closed, assigned to nobody

[2020-03-04 20:26] ecsmyth commented on #71
I've added the P2 numbers @bdekoz is generating to the [release criteria dashbaord](https://sql.telemetry.mozilla.org/dashboard/performance-fenix-release-criteria)

[2020-03-04 20:26] #71 closed, assigned to bdekoz

[2020-03-04 20:32] ecsmyth commented on #69
I recommend that we keep this issue open until the `pageStop` revision is merged into @bdekoz's repo and we have new numbers

[2020-03-09 17:16] ecsmyth opened #77 "Measure impact of collections on startup performance"
Similar to analysis performed of open tabs impact on startup, measure the impact of the number of collections and the number of tabs per collection on startup time.

Consider
- 0-15 collections
- tabs/per collection in increments of 5 from 1 to 26

[2020-03-09 22:43] mcomella commented on #33
(copy-paste) Not a priority: closing.

[2020-03-09 22:43] #33 closed, assigned to nobody

[2020-03-09 22:44] mcomella commented on #25
(copy-paste) Not a priority: closing.

[2020-03-09 22:44] #25 closed, assigned to nobody

[2020-03-09 22:45] mcomella commented on #24
(copy-paste) Not a priority: closing.

[2020-03-09 22:45] #24 closed, assigned to nobody

[2020-03-09 22:45] mcomella commented on #12
(copy-paste) Not a priority: closing.

[2020-03-09 22:45] #12 closed, assigned to nobody

[2020-03-09 22:45] mcomella commented on #43
(copy-paste) Not a priority: closing.

[2020-03-09 22:45] #43 closed, assigned to nobody

[2020-03-09 22:47] mcomella commented on #46
(copy-paste) Not a priority: closing.

[2020-03-09 22:47] #46 closed, assigned to nobody

[2020-03-09 22:48] mcomella commented on #57
Dupe #66.

[2020-03-09 22:48] #57 closed, assigned to nobody

[2020-03-09 23:45] mcomella opened #78 "Improve communication, working patterns with other teams"
We haven't had the greatest communication with the teams we work closely with: we should make a conscious effort to improve it and change our working patterns. This is likely to be an ongoing effort but we should try to lay the groundwork in this issue.

The teams we should specifically focus on are:
- Fenix
- GeckoView
- Platform performance team
- Performance test team

And some questions to ans

[2020-03-09 23:48] mcomella opened #79 "Determine the future for cold startup measurement tools (FNPRMS)"
We've been using FNPRMS to measure cold startup testing to homescreen performance but leaned on it as the best choice in the short term: we should re-evaluate if FNPRMS is the best solution in the long term.

### Acceptance criteria
- Determine if FNPRMS is the best (or a good enough) solution for startup to homescreen. Consider:
  - Do we want to measure using visual completeness? Can FNPRMS get

[2020-03-09 23:55] mcomella opened #80 "Determine how we should measure cold startup app link in the long term"
We used FNPRMS to measure cold startup app link but, like #79, this was a decision for the best choice in the short term: we should re-evaluate to see if FNPRMS is the best decision for cold startup app link in the long term.

In particular, we were previously investigating browsertime for this purpose. browsertime gets us:
- Visual completeness
- (presumably, as it uses existing infrastructure) L

[2020-03-10 00:12] mcomella opened #81 "Determine confidence in FNPRMS dashboard numbers & document knowledge"
We've had several issues measuring values in FNPRMS over the past few months, forcing us to adjust our measurement strategy or implementation. This calls into question how confident we should be with what we're measuring.

pslawless had an idea: we can establish a "confidence rating" for each metric we use. For example, page load is well established on desktop and can have a confidence rating of A

[2020-03-10 00:12] mcomella commented on #54
Dupe https://github.com/mozilla-mobile/perf-frontend-issues/issues/81

[2020-03-10 00:12] #54 closed, assigned to nobody

[2020-03-10 00:16] mcomella opened #82 "Determine confidence in browsertime dashboard numbers & document knowledge"
We want to know how confident we are in our browsertime numbers: we should consult the platform perf team to find out. We should do something similar to https://github.com/mozilla-mobile/perf-frontend-issues/issues/81: in the interest of avoid duplication, see that issue for a description of what to do but on browsertime instead of FNPRMS.

[2020-03-10 01:07] mcomella opened #83 "Improve reliability/robustness of FNPRMS: enough to gather data for other cold startup flows"
Our quick changes to FNPRMS have rendered it difficult to maintain: assuming it's the future – #79 #80 – we should make the code maintainable.

This issue is focused on the short term: what refactoring and improvements do we need to do to support https://github.com/mozilla-mobile/fenix/issues/9072 ? We may have already closed https://github.com/mozilla-mobile/perf-frontend-issues/issues/60 but we

[2020-03-10 01:08] mcomella opened #84 "Improve reliability/robustness of FNPRMS: long term"
Our quick changes to FNPRMS have rendered it difficult to maintain: assuming it's the future – #79 #80 – we should make the code maintainable.

https://github.com/mozilla-mobile/perf-frontend-issues/issues/83 focuses on short term improvements: this issue is to address long term improvements.

TODO: we may want to include specific changes to prevent this issue from going on forever.

[2020-03-10 01:18] mcomella opened #85 "Move FNPRMS into automation & ☁️ the cloud ☁️"
FNPRMS is currently running on a box in TOR: that's not sustainable for the folks who maintain it or for letting other folks use it. We should ensure it's fully automated and move it to the cloud if possible.

[2020-03-10 20:20] Malclir commented on #75
Trouble with FNPRMS getting the reading for fennecBeta variant. Didn't get the numbers. If we want to measure GeckoBeta vs GeckoNightly, we should revisit this in the future. Closing for now.

[2020-03-10 20:20] #75 closed, assigned to MarcLeclair

[2020-03-10 21:12] jimporter commented on #79
@mcomella I think it would make sense to keep FNPRMS around as the "universal mobile performance test driver", at least in the medium term. Since it's a separate repo, it would afford us a good deal of flexibility in making changes, and we could focus on making it easy for people to run perf tests and get results. (In the long term, perhaps we'd move this universal test driver into another repo, s

[2020-03-11 17:10] emalysz commented on #77
Blocked on https://github.com/mozilla-mobile/fenix/issues/8561

[2020-03-11 17:11] mcomella opened #86 "Add CI for FNPRMS"
'nuff said.

[2020-03-12 19:54] mcomella commented on #69
I opened 2 PRs for this and I'm waiting for the last to land.

[2020-03-12 22:25] Malclir opened #87 "FNPRMS performancetest intent doesn't bypass onboarding and fails to give Fully Drawn time for Hanoob"
using the intent `--ez performancetest true` doesn't bypass onboarding currently and fails to skip the onboarding flow, which then fails to output the `Fully drawn` time

[2020-03-12 22:45] mcomella opened #88 "Visual completeness time has high variance (16ms)"
We think there is a high variance in time to visual completeness because:
- Nimbledroid has a high variance
- We believe been running the build from the 24th on the G5 until the 10th or so and see a large variance in timing ([data](https://github.com/mozilla-mobile/fenix-nightly-perftest-results/blob/a94cd45b11f907a59a71011d2698db395b91a729/hanoob-results.csv#L17))

In the latter entry, the variat

[2020-03-12 22:46] mcomella commented on #79
Thanks for the note, jimporter: I scheduled a meeting on Monday to discuss as a team what we think the next steps are. I agree that we should have a single unified runner to make it easy for folks to check their changes.

[2020-03-14 22:10] jimporter commented on #86
Resolved in https://github.com/mozilla-mobile/FNPRMS/pull/16

[2020-03-14 22:10] #86 closed, assigned to jimporter

[2020-03-14 22:15] jimporter commented on #88
I think we'd need to do more research, but locally I found that waiting 1s between runs (after killing the previous run and before starting the new run) cut the standard deviation by about half (from ~20ms to ~10ms). We could try doing this with FNPRMS too.

[2020-03-16 18:54] mcomella commented on #88
Triage: unimportant for now: this duration is less than 1.5% of total time but it'd be ideal to address. In the short term, we can incorporate some fixes from Jim's script into FNPRMS but the future of FNPRMS is up in the air so we shouldn't spend too long.

[2020-03-16 19:06] mcomella opened #89 "Make performance testing less confusing: write foundational docs (ready with tooling)"
We have no defacto documentation on how to do performance testing. This leads to confusion around:
- Which build variant do I use?
- How do I use the profiler? When should I not trust the profiler?
- How do I figure out if my patch impacts cold startup? How do I debug it if it does?
- What's the difference between fenix-nightly and fennec-nightly variants? Which do I test on?
- How do I get help?

[2020-03-16 22:56] mcomella commented on #69
One more PR to correct oversights from the previous PR: https://github.com/mozilla-mobile/FNPRMS/pull/20

[2020-03-16 23:52] mcomella commented on #69
MarcLeclair re-ran the numbers and it looks reasonable. If we trust these values (I'll do a quick skim), we should ask bdekoz to make similar changes.

[2020-03-17 17:23] ecsmyth opened #90 "Rerun FNPRMS for missing dates"
Rerun FNPRMS 'HA', `HANOOB`, and `AL` tests against builds from Feb 24 to day before nightly run with fix for [issue 69](https://github.com/mozilla-mobile/perf-frontend-issues/issues/69) lands

[2020-03-17 21:27] mcomella opened #91 "FNPRMS HANOOB parsing logic is hard-coded to work on devices like G5"
logcat spits out fully drawn times like, "+551ms". Sometimes, it does, "+551ms (total 1m331s)". For the same launch command, this behavior appears to change between devices: the G5 uses the latter and the P2 uses the former.

I didn't realize this so I landed https://github.com/mozilla-mobile/FNPRMS/pull/20 to switch from non-total times to total times to support the G5: instead, we should activel

[2020-03-17 21:32] mcomella opened #92 "FNPRMS HANOOB Fennec 68 baseline (G5) may be incorrect (lower than actual)"
As per #91, we noticed that the G5 uses "total" time rather than the non-total "fully drawn" time. afaict, fennec 68 should also display "total" time so we're using the wrong number. I think this because the `LAUNCHER` intent filter is in `LauncherActivity` but `BrowserApp` is the final app launched. I can't verify this behavior right now because I don't have a G5.

If this is true, the number wil

[2020-03-17 21:49] mcomella opened #93 "Update SF FNPRMS to latest: run on fennecNightly, etc."
Blocked on fixing parsing logic: #91.

In https://github.com/mozilla-mobile/perf-frontend-issues/issues/69, we added fennecNightly support to the G5 in TOR. However, we're filing this follow-up to get it to work in SF on devices such as the P2.

[2020-03-17 21:49] mcomella commented on #69
I've verified the validity of our FNPRMS numbers through manual testing:
- Ensuring we're sending the correct intents
- Ensuring we're parsing the logs correctly
- Manually calculating the average fully drawn time (in python) for the 2020.03.15-hanoob.log and verifying it matched CI
- Generally skimming over other scripts to ensure nothing else interferes with our numbers

I've identified two bugs

[2020-03-17 21:49] #69 closed, assigned to mcomella

[2020-03-18 17:34] mcomella opened #94 "Apply recent noise reduction learnings to FNPRMS"
jimporter has been using a local script to measure performance differences and has put in some effort to reduce noise. Let's import those changes into FNPRMS.

[2020-03-18 20:37] #87 closed, assigned to MarcLeclair

[2020-03-23 14:39] emalysz commented on #77
Here were our findings (time is in ms):

<img width="700" alt="Screen Shot 2020-03-23 at 7 36 11 AM" src="https://user-images.githubusercontent.com/15795071/77327897-0c66fb00-6cd9-11ea-8159-207938ea005a.png">
<img width="657" alt="Screen Shot 2020-03-23 at 7 36 21 AM" src="https://user-images.githubusercontent.com/15795071/77327914-12f57280-6cd9-11ea-9b5b-9a7f43156b25.png">

______________________

[2020-03-23 14:39] #77 closed, assigned to emalysz

[2020-03-24 13:56] ecsmyth commented on #73
Blocked on [1624360](https://bugzilla.mozilla.org/show_bug.cgi?id=1624360)

[2020-03-24 18:13] mcomella opened #95 "Unify existing FE perf docs"
This is the initial part we agreed to do for perf-frontend-issues#89 so that we can dump info into the doc as we find it (i.e. we're not losing the generation of data because the place to put it doesn't exist yet).

I volunteered to maintain the document as folks add additional information.

[2020-03-24 20:23] mcomella opened #96 "Recalculate FNPRMS AL baseline on Fennec 68"
It seems to be completely wrong, for some reason (1.5s rather than 3s).

[2020-03-24 23:53] jimporter commented on #94
Resolved in https://github.com/mozilla-mobile/FNPRMS/pull/25

[2020-03-24 23:53] #94 closed, assigned to jimporter

[2020-03-25 00:04] Malclir commented on #96
Re ran with the following build: https://archive.mozilla.org/pub/mobile/releases/68.6.0/android-api-16/

Version: 68.6.0

Time: 2.28552seconds for App Link using FNPRMS manual testing which is 25 iterations. That is without uninstalling / installing the app after every run.

[2020-03-25 20:35] mcomella opened #97 "Research how other apps measure startup performance"
As a follow-up to our future of cold startup discussions...

Instead of reinventing the wheel, let's find out how other apps are measuring cold startup (and briefly non-startup measurement).

We should double-check on licensing but Marc mentioned Chrome uses something called catapult: https://chromium.googlesource.com/catapult/

[2020-03-25 23:43] mcomella commented on #80
This is more of a meta ticket now so I don't think we need to separate HANOOB and AL: merging into one issue #79.

[2020-03-25 23:43] #80 closed, assigned to nobody

[2020-03-25 23:57] mcomella opened #98 "Breakdown April JIRA work"

[2020-03-26 00:14] #98 closed, assigned to mcomella

[2020-03-26 18:14] mcomella commented on #96
Reopening: @ecsmyth can you update the baseline on the dashboard? (is it possible for us to update it to save you time?)

[2020-03-26 23:45] mcomella commented on #95
I merged all the documents into https://docs.google.com/document/d/1WkzzZesdvGdYsVSXtNIthsRuSwrIt80ka9jVknXI0M8/edit#heading=h.thkvv5etj0cd. This is also linked from our mana page: https://mana.mozilla.org/wiki/display/PM/Android+Front-End+Performance

Once the document (and wiki) starts to stabilize, we should make them public.

[2020-03-27 17:58] mcomella commented on #95
Email sent – all done!

[2020-03-27 17:58] #95 closed, assigned to mcomella

[2020-04-08 21:57] mcomella opened #99 "Increase stability of release criteria dashboard"
It breaks every so often so we should do some clean-up of the queries to prevent this from happening.

[2020-04-13 21:14] mcomella commented on #97
I completed my research. In general, it was not easy to find 1) what metrics folks took on the app to measure startup and 2) the harnesses they used to run the application – because it wasn't straightforward, **I'm assuming useful information is limited.** Furthermore, I realized that **our requirements are more intensive than most other developers** because we not only want to catch regressions b

[2020-04-13 22:35] mcomella commented on #97
I additionally took a look at the Chromium source to understand how they measure performance. I found some interesting docs:
- [Overview page](https://chromium.googlesource.com/chromium/src/+/master/docs/speed/how_does_chrome_measure_performance.md)
- [Overview perf waterfall](https://chromium.googlesource.com/chromium/src/+/master/docs/speed/chrome_speed_tooling.md), their CI pipeline
- [Overview

[2020-04-13 22:38] #97 closed, assigned to mcomella

[2020-04-13 22:46] mcomella opened #100 "FNPRMS is missing results 4/9-4/12"
The results are `NA` for these days (and hasn't yet run on the 13th).

---

After a brief investigation, it looks like we're unable to download the build:
[code]

And the reason is because the `fennec-nightly` builds don't exist for those days: https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2020.04

Since the `nightly` builds are also missing, perhaps

[2020-04-13 22:54] mcomella commented on #100
After reading the #fenix-team slack backscroll from late last week, I discovered Google Play is backlogged on our Nightly builds so we disabled the builds. This impacts performance testing because we can't measure the changes making it in every night. I suggested that we continue building Nightly but disable the upload to GP instead so we can resume performance testing.

Waiting on a response from

[2020-04-13 23:12] liuche commented on #100
@JohanLorenzo from the GPS email thread, it looks like one of the options is re-enabling the Nightly builds but publishing them to archive.mo without pushing to the Play Store. Is there a bug to track that work? That option helps solve some of our QA/perf problems in the short-term - and in the meantime, Relman is going to see how long it actually takes a Nightly build to get approved, but we want

[2020-04-13 23:32] mcomella commented on #100
I found https://bugzilla.mozilla.org/show_bug.cgi?id=1628413 as an upstream issue.

[2020-04-14 08:21] JohanLorenzo commented on #100
Thanks for raising this issue! I'm going to make the right changes in [bug 1628413](https://bugzilla.mozilla.org/show_bug.cgi?id=1628413)

[2020-04-14 12:39] JohanLorenzo commented on #100
Good news: fenix nightlies are back - on their regular schedule, they're just not shipped to Google Play anymore.

(I just landed a way to manually send them to GP. This way, we have control over what gets sent to GP).

Please let me know if you see any issue!

[2020-04-15 20:30] mcomella commented on #100
I confirmed that our perf test results are back and it seems there haven't been any regressions (though it's within noise limits so we won't know for a few days). Thanks a bunch JohanLorenzo! Closing as there are no more actions to do here.

[2020-04-15 20:30] #100 closed, assigned to mcomella

[2020-04-15 20:54] mcomella commented on #79
We met as a group and decided that FNPRMS merged into the Browsertime harness is the way to go. acreskey, sparky, and co. are taking ownership of this in the future so we don't need to track this on this board. We'll have weekly check-ins to determine progress.

[2020-04-15 20:54] #79 closed, assigned to mcomella

[2020-04-15 20:56] bdekoz commented on #100
I see apk's again on 2020-04-14, but none for 10, 11, 12, 13? Will these be
back-filled?

On Wed, Apr 15, 2020 at 1:31 PM Michael Comella <notifications@github.com>
wrote:

[2020-04-15 22:43] mcomella commented on #84
We're merging FNPRMS into Browsertime so this is no longer applicable.

[2020-04-15 22:43] #84 closed, assigned to nobody

[2020-04-15 22:47] mcomella commented on #91
Placing In Progress: this is potentially necessary for what bdekoz is working on.

[2020-04-16 00:05] mcomella opened #101 "Document profiler use on Fenix, assist profiler workshop"
On Fenix, we can use the Gecko profiler and the Android profiler. For both, they're not the simplest to use and there are many caveats to using them. We should document these so that folks being onboarded to the tools know how to use them.

Folks are learning how to use the profiler very soon (next week?) so we should do this sooner rather than later.

[2020-04-16 00:33] mcomella commented on #100
As we discussed during sync today, we don't think it's necessary to backfill because we haven't seen a regression.

[2020-04-16 01:47] mcomella commented on #100
Sorry, I hope this didn't come off passive aggressively :) – I wanted to reference the discussion we had in sync for extra context to my response.

[2020-04-16 16:26] #90 closed, assigned to MarcLeclair

[2020-04-17 15:40] ecsmyth commented on #96
Updated

[2020-04-17 15:40] #96 closed, assigned to MarcLeclair, ecsmyth

[2020-04-17 22:35] mcomella commented on #101
I think the minimum amount of documentation we need is:
- Setting debuggable=true, required for the profiler, has a non-trivial impact on performance: it makes methods vary in runtime ~0-80%. Therefore, some things that appear slow in the profiler may not be slow on device.
- Which build variants to use and how to sign them
- A list of functionality that is disabled by default (e.g. Glean) but may

[2020-04-17 22:36] mcomella commented on #101
florian also mentioned there's some documentation for the Gecko Profiler here – https://profiler.firefox.com/docs/#/./guide-remote-profiling?id=startup-profiling-fenix – that we can consider appending to.

[2020-04-23 20:52] mcomella commented on #101
These items were included in the presentation and we're not clear there's a need for documentation immediately so I'm going to close this bug. jeanygong has an ongoing item to ensure we can connect the two teams so I think if there's a need for more documentation, it will arise from this item.

[2020-04-23 20:52] #101 closed, assigned to mcomella

[2020-04-23 21:46] mcomella opened #102 "FNPRMS is missing results from 4/21-4/23, 4/27"
See https://github.com/mozilla-mobile/fenix-nightly-perftest-results/blob/master/hanoob-results.csv

[2020-04-23 21:49] mcomella commented on #102
Looking at the HANOOB/AL logs for 04.21, 04.22, and 04.23 (I'm surprised there's an 04.23 yet because the nightly for those days hasn't run yet), they're empty. For example: https://github.com/mozilla-mobile/fenix-nightly-perftest-results/blob/master/2020.04.21-hanoob.log

I notice in the general logs that it doesn't announce that it's downloading builds either. It immediately goes to ([example](h

[2020-04-27 16:34] mcomella commented on #102
We have results as of the 24th again and there's a 40ms+ regression. I've asked MarcLeclair to re-run the 21st (the first NA result) which might tell us if the builds were busted or if it was something else.

[2020-04-27 20:09] Malclir opened #103 "Take video side by side of Fenix from December / January vs Now (as of April)"
Video for showing improvement

[2020-04-27 21:26] Malclir commented on #103
Link to side by side video: https://streamable.com/wthl3h

The two videos were nightly January 15th 2020 and April 20th 2020

[2020-04-27 23:26] mcomella commented on #102
MarcLeclair re-ran the 21st and it came in correctly (with a regression on the 21st from the 20th). My theory is that there were local changes to FNPRMS that caused this (MarcLeclair was experimenting with updating the scripts to automatically git push so that could have been related).

That being said, it's working now so we determined when the HANOOB regression occurred (20th to 21st) so I don't

[2020-04-27 23:36] mcomella commented on #102
Using the Fenix builds as posted on Taskcluster, I think we're looking at  `git log 94f19b7feea...ce0bad5ffb7` (20th earliest - 21st latest) for the regression.

[2020-04-27 23:40] mcomella commented on #102
Looking at the commits inside fenix, I didn't see anything that looks like it'd affect start-up performance.

[2020-04-27 23:41] mcomella commented on #102
I still need to investigate the android-components commits at that time. However, it's possible there is something else amiss in the testing environment. For example, maybe the G5 that's running the tests has more background operations on it now than it did before such that if we re-ran the test for the 20th, we'd see the same regression.

[2020-04-28 01:35] bdekoz commented on #91
Oops, posted commentary on this in FNPRMS#20, the original thread. I'll post the patch here tho.

;)

[2020-04-28 01:47] bdekoz commented on #102
FWIW, not seeing this blip in other device data, see:
https://github.com/bdekoz/FNPRMS-results/blob/master/pixel_4_xl-fennec-nightly-hanoob-results.csv

[2020-04-28 01:50] bdekoz commented on #93
Oops, this has been fixed for some time. SF runs on both fenix and fennec, but should probably be run on

fennec-nightly

and

fennec-beta or whatever it is that people are actually using, release-wise

See:
https://github.com/bdekoz/FNPRMS-results

Can I close this?

[2020-04-28 20:27] Malclir commented on #103
Here are 3 videos at different speed with labeled screens:

regular speed: https://streamable.com/q2bi1s
slowed down a bit: https://streamable.com/zjh7zx
extra, extra slow down: https://streamable.com/8qbgx7
[Files with all different mp4s]()

[2020-04-29 00:21] mcomella commented on #103
Script to take the video was uploaded in https://github.com/mozilla-mobile/perf-tools/pull/1

[2020-04-29 16:41] Malclir opened #104 "Use simpleperf to take start up profile using rooted phone for investigating deps/asset uncompression"
Ticket is in reference to https://github.com/mozilla-mobile/fenix/issues/9382 in which we needed a rooted phone to get a start up profile using simpleperf

[2020-04-29 16:42] Malclir commented on #104
Profile taken: https://bit.ly/2YeKar6

Caveat it only works with 64 bit cpus for now.

[2020-04-29 16:42] #104 closed, assigned to MarcLeclair

[2020-04-29 16:42] #103 closed, assigned to MarcLeclair

[2020-04-29 18:12] mcomella commented on #102
Thanks for letting us know!

---

We discovered a potential root cause: when SSH'ing into the device today, MarcLeclair found the G5 had no network connectivity. Some solutions are:
- Rely on SF numbers only (Galaxy S7 is low-end device)
- Disable and re-enable wifi before the test (will it hold)
- Tether phone to computer via USB (need to ensure there’s no perf hit there)

We'll discuss more in s

[2020-04-29 18:18] mcomella commented on #93
I can confirm that these are visible! If we want to change the build variants these run on, we'll open a new bug but that's a good call out.

Thanks bdekoz! I'll close.

[2020-04-29 18:18] #93 closed, assigned to bdekoz

[2020-04-29 18:24] mcomella commented on #91
Merged in https://github.com/mozilla-mobile/FNPRMS/pull/27.

[2020-04-29 18:24] #91 closed, assigned to bdekoz

[2020-04-29 23:18] mcomella opened #105 "Create "how to performance test" splash page"
We have some documentation to share with devs looking to work on Fenix performance:
- which build variants to use: https://github.com/mozilla-mobile/fenix/#guide-to-build-variants
- how to use the profiler
- how to get help

We should create a simple page that links out to these other documentations so someone completetly new to performance knows where to start.

[2020-04-29 23:19] mcomella commented on #89
We don't really understand the need here so closing in favor of a simpler splash page solution: https://github.com/mozilla-mobile/perf-frontend-issues/issues/105

[2020-04-29 23:19] #89 closed, assigned to nobody

[2020-04-30 16:46] mcomella opened #106 "Tracking down leanplum (for clicking on URL bar)"
@MarcLeclair please fill in details

[2020-05-01 21:22] mcomella opened #107 "Determine fastest response time on devices, especially low-end"
We have release criteria asking for as little as a 100ms reaction in response to a click event, such as opening a context menu: https://github.com/mozilla-mobile/fenix/issues/10356 We don't know if this release criteria is actually feasible to meet.

I propose we try to measure the "fastest response" time is on devices in the simplest case.

In one possible implementation, we could create a standa

[2020-05-01 21:54] mcomella commented on #107
From ecsmyth:

Additional conversation:

Also, I would argue that some users on lower end device might have a different perspective of what is fast vs not fast, no?
Although this is just me asking, I don't know much about UX best practices

I don't think that we have any specific research on this, but I hold that same assumption.
We do have research that perceptions are highly contextual
Aside fro

[2020-05-04 17:51] mcomella opened #108 "Improve monitoring for regressions in the short term due to ongoing startup regression trend"
We've seen a trend of regressing startup performance over the past two months, ~20ms each on 3 separate instances:
- March 1: https://github.com/mozilla-mobile/fenix/issues/9415
- March 26: https://github.com/mozilla-mobile/fenix/issues/10403
- May 1: https://github.com/mozilla-mobile/fenix/issues/10404

Our plan to address cold startup regressions was to wait until we moved to our more-robust Bro

[2020-05-04 17:57] mcomella opened #109 "FNPRMS unexpectedly prunes to last 30 days (formely: FNPRMS TOR is missing data from 03.09 to 03.27 & a few other dates)"
The log files for these dates appears to be missing from repository too. To address this issue, we should consider:
- Identifying the root cause: why are these files deleted? Perhaps we can wait and see if other dates are deleted too
- Restoring the deleted revisions using git history

Possible causes:
- FNPRMS pruning algorithm is broken and deleted these files (I'm not sure how well tested this

[2020-05-04 18:42] mcomella commented on #102
Stand-up: we decided to write a script to make re-running easy. We asked jeanygong to check if bdekoz has cycles to work on something like this. As such, assigning to jeanygong and unassigning from myself.

[2020-05-04 18:47] mcomella opened #110 "Write script to make re-running FNPRMS easy"
Follow-up from https://github.com/mozilla-mobile/perf-frontend-issues/issues/102

TOR FNPRMS is failing regularly (see https://github.com/mozilla-mobile/perf-frontend-issues/issues/102#issuecomment-621376493 for potential root cause). We decided the path forward for these intermittent failures seemed to be to make it easy to re-run, i.e. marcleclair SSHes into the machine, runs `./rerun-fnprms 20.

[2020-05-04 18:48] mcomella commented on #102
I decided it'd be clearer to file a new issue for the follow-up solution of writing a script to re-run FNPRMS instead: https://github.com/mozilla-mobile/perf-frontend-issues/issues/110 This issue is targeted specifically on identifying the missing results, for which we've already re-run. As such, closing.

[2020-05-04 18:48] #102 closed, assigned to mcomella

[2020-05-04 20:14] Malclir opened #111 "Fix symbol issues for 32 bit phones in simpleperf"
### Why/User Benefit/User Problem
Simpleperf seems to be the lowest over head tool we have at the moment to profile our app. It allows us to also profile non-debuggable applications. However, our current implementation only works on 64 bit cpus.

### Impact
We would be able to use simpleperf on G5s and lower end device instead of just newer device

### Acceptance Criteria (how do I know when I’m d

[2020-05-04 20:17] Malclir opened #112 "Add telemetry for user clicking on URL bar"
### Why/User Benefit/User Problem
Right now, user clicking on the URL bar seems to be slow at first but increases in speed over time. However, if left alone for long enough, the execution slows down again. This probe would allow us to have more insight on what user experience instead of dealing with the 80ms - 200 ms possible time of execution and try to estimate where to focus our efforts

### Im

[2020-05-04 20:20] Malclir opened #113 "Investigate time difference when often clicking on url bar"
### Why/User Benefit/User Problem

It was noticed that clicking multiple time on the URL bar reduces the execution time the more it is done. We don't know whether or not if its because the ART caches the code and / or there's something else going on in the code

### Impact
More insight as to how the caching is done and (maybe) allow us to focus our effort elsewhere

### Acceptance Criteria (how do

[2020-05-06 00:30] mcomella commented on #107
I created [an experiment write-up](https://docs.google.com/document/d/1z6zVwpGTEFntiXZrBzvhNSYhJtUaS7LtMBlCa0hCv24/edit#) and opened a PR to host the code for the write-up: https://github.com/mozilla-mobile/perf-tools/pull/3

My conclusion is roughly that when creating a `PopupWindow` in response to a Button click, it's fast enough on the Galaxy S5 (and probably other low-end phones) to meet a 100

[2020-05-06 23:46] mcomella commented on #112
@MarcLeclair Do you think this is still necessary, given ecsmyth thinks it's necessary to improve performance for the first click experience?

[2020-05-07 16:38] #113 closed, assigned to MarcLeclair

[2020-05-07 17:20] mcomella commented on #110
I have concerns that re-runs will fail – we think Marc re-ran the numbers for May 4th but it still reports NA – and if they fail often enough, it might not make sense to write the script because it'll be disruptive to rerun failed jobs multiple times. This could be mitigated if the script does things like checking for connectivity before beginning.

Marc is going to re-run the 4th today and, if it

[2020-05-07 22:23] mcomella commented on #3
Done in https://github.com/mozilla-mobile/perf-frontend-issues/issues/79.

[2020-05-07 22:23] #3 closed

[2020-05-12 18:28] mcomella commented on #109
FNPRMS is noticably pruning results per 30 days: the current results are only 30 days long. I opened https://github.com/mozilla-mobile/FNPRMS/pull/28 to address this.

[2020-05-12 18:29] mcomella commented on #109
My solution will be to remove the pruning thing and close this issue. If we notice additional dates missing, we can re-open a new issue.

[2020-05-12 22:07] mcomella commented on #107
Marc gave me an r+ on the experiment write-up and the associated code so I believe this issue can be closed.

[2020-05-12 22:07] #107 closed, assigned to mcomella

[2020-05-14 16:22] mcomella opened #114 "Timeline for FNPRMS replacement"
A big requirement we have on the FE perf team is to be able to detect regressions and single out which commit/merge caused it. Recently, in May, we've seen a greatly increasing rate of startup regressions. We're beginning to focus on improving startup but if this rate of regressions continues, we may not be able to optimize faster than the regressions regress.

We are considering investing in a sh

[2020-05-14 17:37] mcomella opened #115 "S10 device is not reporting results correctly"

[2020-05-14 17:37] #115 closed, assigned to bdekoz

[2020-05-14 20:58] mcomella commented on #112
We were wondering if there is existing data for this but there's plenty for us and DS to do that's more important so we'll close. If this becomes important again, we'll very likely open a new issue and that's okay with us.

[2020-05-14 20:58] #112 closed, assigned to nobody

[2020-05-14 22:24] mcomella commented on #88
I think we've actually found that this is a fairly good amount of variance so I"m going to close this. We can reopen if we decide against that.

[2020-05-14 22:24] #88 closed, assigned to nobody

[2020-05-14 23:08] mcomella commented on #45
Maybe https://github.com/mozilla-mobile/fenix/issues/6278 will help here.

[2020-05-20 16:20] mcomella opened #116 "Write leanplum brief"
Break-out from https://github.com/mozilla-mobile/perf-frontend-issues/issues/106

[2020-05-20 16:20] #116 closed, assigned to mcomella

[2020-05-20 16:20] mcomella commented on #106
Completed a brief in https://github.com/mozilla-mobile/perf-frontend-issues/issues/116.

[2020-05-21 00:44] mcomella commented on #45
Triage: the P1 ask is to opt-out of all experiments, especially on CI. We can file a follow-up to opt-in to experiments.

This hinges on when experiments will be reintroduced so I'll contact the folks involved.

[2020-05-26 20:52] mcomella opened #117 "Unexplained jump in Pixel 2 results (May 4)"
The Pixel 2 results increase a large amount on May 4 but we're not sure why. Here's a screenshot of the dashboard where Pixel 2 is green/red/blue:

![Screen Shot 2020-05-26 at 13 49 24](https://user-images.githubusercontent.com/759372/82949091-dbfd4080-9f57-11ea-9520-7e825a913122.png)

@bdekoz Do you know why this is?

[2020-05-26 23:48] mcomella opened #118 "Investigate FNPRMS regression 5/21 (20ms)"
HANOOB:
- 5/19: 1.45465
- 5/20: N/A
- 5/21: 1.49948 (normalizing to something slightly lower the next few days)

We should investigate the root cause.

[2020-05-28 17:28] mcomella commented on #117
I spoke with bdekoz on Slack: they're not sure what the cause is and mentioned:

[2020-05-28 22:26] mcomella commented on #117
Triage: we're placing this low in the backlog because we don't have time to investigate low impact changes like this.

[2020-05-29 03:58] mcomella commented on #106
@jeanygong Can this be closed? (with https://github.com/mozilla-mobile/fenix/issues/9563)

[2020-05-29 23:01] mcomella opened #119 "Update HANOOB, AL naming"
Action item from meeting: HANOOB/AL are unintuitive and not very extensible (e.g. how do we had cold/warm/hot to this? HHANOOB?) – let's come up with new names.

[2020-05-29 23:12] mcomella commented on #119
We care about the following qualities for naming:
- Stability (time consuming to update, confusing to users, changing may invalidate data)
- Intuitiveness (less important than stability though)
- Consistent with existing terminology

Trying to 80-20 this, I think our options are:
1. Current naming (HANOOB) or more verbose versions (homescreen no onboarding)
1. Destination-based (homescreen, browse

[2020-05-29 23:14] mcomella commented on #119
@MarcLeclair Can you review my proposal above?

[2020-05-29 23:23] Malclir commented on #119
@mcomella  so if I understand correctly HANOOB with the proposed case would be
`MAIN launcher cold no-onboarding`. Did I get this right? If so, I think it's fine.  I don't think it's that unintuitive. We could also change the MAIN launcher for our landing place? I.e: `Homescreen landing cold no-onboarding` if we feel that using intent might be a bit more confusing to users with less android knowle

[2020-05-29 23:43] mcomella commented on #119
CC @bdekoz for awareness

[2020-05-29 23:45] mcomella commented on #119
@MarcLeclair I think it'd either be `MAIN` or `MAIN cold`. Currently we don't use cold/warm/hot so I'm fine omitting it. Since "no onboarding" is the default case, i.e. what users expect when they trigger a MAIN intent most of the time, I think it's okay to omit. If we want onboarding, it'd be, `MAIN cold onboarding`

[2020-06-01 16:10] Malclir commented on #119
Then I think that's fine with me. I was just wondering if its clear for non android users the use of intent? If it's a non issue then I think this naming convention would improve our naming.

[2020-06-01 21:52] mcomella commented on #119
Probably not but it's only two terms to learn so I'm comfortable with that, given the other benefits that come from these values.

[2020-06-01 21:53] mcomella commented on #119
I think this is resolved: feel free to reopen if you disagree. :)

[2020-06-01 21:53] #119 closed, assigned to mcomella, MarcLeclair

[2020-06-01 21:56] mcomella opened #120 "Restore FNPRMS data greater than 30 days old"
We recently addressed an issue https://github.com/mozilla-mobile/perf-frontend-issues/issues/109 where FNPRMS would prune data that was older than 30 days old: we can go into version control to restore the pruned data if we'd like more historic data.

[2020-06-01 22:34] mcomella commented on #109
Addressed in https://github.com/mozilla-mobile/FNPRMS/pull/28

I filed a follow-up to restore the missing data: https://github.com/mozilla-mobile/perf-frontend-issues/issues/120

[2020-06-01 22:34] #109 closed, assigned to mcomella

[2020-06-02 22:28] mcomella opened #121 "Fenix Startup Testing Per Device dashboard does not clearly indicate failures"
Instead of declaring it doesn't have data, it repeats the data from the previous day, creating a flatline:
![Screen Shot 2020-06-02 at 15 26 25](https://user-images.githubusercontent.com/759372/83575944-783dbf00-a4e5-11ea-860c-4f4ff35f4815.png)

I'd prefer to see a gap in the chart or something.

@bdekoz may be working on this as part of the alterting mechanism card in the roadmap.

[2020-06-02 22:31] mcomella opened #122 "No data updates to Fenix Startup Testing Per Device dashboard since 5/30"
The last change I can see in the dashboard is 5/28 or 5/29. Looking at the raw data, the last data is from 5/30: https://github.com/bdekoz/FNPRMS-results/blob/master/samsung_galaxy_s10-fennec-nightly-hanoob-results.csv

Note: the S7 device was unresponsive before this (it has been reset) so ignore it's data.

[2020-06-04 16:19] mcomella commented on #106
Closed with Leanplum changes.

[2020-06-04 16:19] #106 closed, assigned to jeanygong

[2020-06-04 17:05] mcomella commented on #111
@jeanygong We want 32-bit simpleperf support so we can get accurate startup profiles. nalexander should have context on 1) how long this will take to do and 2) if someone on our team will be capable of doing it – i.e. is it worth doing? acreskey may be able to drive this for us. 😁

[2020-06-04 17:38] acreskeyMoz commented on #111
The libraries with symbols are fetched via this script:
https://github.com/ncalexan/simpleperf/blob/mozilla-symbols/binary_cache_builder.py

I haven't investigated yet, but it seems possible that incorrect binaries are being fetched here.

[2020-06-04 19:33] ncalexan commented on #111
I have no particular knowledge of what might be happening here, but my first guess is that we're somehow running afoul of Android's "aarch64 -> armv7a" fallback path.  Or maybe we're using 64-bit toolchains on 32-bit binaries in a way that's producing subtly incorrect symbols.

Do we have _anybody_ who is getting correct symbols for 32-bit simpleperf?  Are we confident that something we control co

[2020-06-04 21:33] acreskeyMoz commented on #111
So far we haven't seen anyone getting correct symbols for 32-bit simpleperf.

Here's one that I just tried:
https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/project.mobile.fenix.v2.performance-test.2020.05.15.latest/artifacts/public/build/armeabi-v7a/geckoNightly/target.apk

Via the simpleperf workflow
https://share.firefox.dev/2MwtXqg

However the symbols are correct when capturing vi

[2020-06-04 21:46] acreskeyMoz commented on #111
I wonder if we can verify if the `BuildID[sha1]=ac95676521eab6771ba1e6cb7a8410839d61671d` that I see from the fetched library (`libxulso`) is aligned with the downloaded apk?

[2020-06-05 01:10] bdekoz commented on #122
Ok, this should be fixed now, and the old dates filled in. I'll check back tomorrow and close it to confirm.

[2020-06-05 19:05] bdekoz commented on #122
Fixed.

[2020-06-05 19:05] #122 closed, assigned to bdekoz

[2020-06-06 00:23] bdekoz commented on #92
So... since #91 is done, what to do when re-visiting this? This problem impacted the G5, the S10, and the S7. Since the closure of #91, the S10 and S7 hanoob numbers (and presumably G5) have all used the new scripts. So, at least for the month of May, these numbers should be correct.

We don't have to re-run the tests and get new results, we just have to re-run the 'do_times.sh' script on existing

[2020-06-06 00:24] bdekoz commented on #92
try close

[2020-06-08 16:28] mcomella opened #123 "Create H1 report"

[2020-06-08 16:29] mcomella commented on #78
This is an ongoing task and this issue isn't serving any real purpose to remind us about it: closing.

[2020-06-08 16:29] #78 closed, assigned to jeanygong

[2020-06-08 16:30] mcomella commented on #114
We wanted this to know if we should come up with a short term solution but we met and are working towards that solution: we no longer need this timeline in the short term and we can reopen if we need it in the long term: closing.

[2020-06-08 16:30] #114 closed, assigned to jeanygong

[2020-06-08 16:39] mcomella opened #124 "[AI] Create brief write-up describing likely sources of perf issues"
We'd like the a-c and Fenix teams to label issues they suspect may have a perf impact with a label: we should do a brief write-up so they know what indicators of performance issues are.

[2020-06-08 16:43] mcomella commented on #92
Thanks for looking into this.

To be explicit, this is about the fennec (old Firefox for Android) baselines, not the fenix (or fennec-nightly) numbers.

This is true but I doubt we have the logs from the original fennec 68 run so I think we need to re-run this anyway.

[2020-06-08 21:19] mcomella commented on #124
Done & reviewed by MarcLeclair: https://docs.google.com/document/d/1v34VULAyAjJuOHu3TkwQuOfhIFB6gNsmyb9950mztdQ/edit#

[2020-06-08 21:19] #124 closed, assigned to mcomella

[2020-06-08 22:45] Malclir commented on #92
So I got the following `20.06.08, 0.58368` from fennec using 68.6.0 build. I got the following output
[2020.06.08-hanoob.log](https://github.com/mozilla-mobile/perf-frontend-issues/files/4748944/2020.06.08-hanoob.log)

the `Fully drawn` didn't work, I had to switch the regex to `Displayed` to be able to even get the average out. Any thoughts @mcomella ?

[2020-06-10 22:44] mcomella opened #125 "Reset up FNPRMS TOR machine"
It went down in the office: we're need to set it up again.

[2020-06-10 22:44] #125 closed, assigned to MarcLeclair

[2020-06-10 22:58] mcomella commented on #110
bdekoz mentioned this is done and they'll open a PR with the script.

[2020-06-10 23:16] mcomella commented on #92
MarcLeclair linked to some old instructions which can be helpful: https://github.com/mozilla-mobile/perf-frontend-issues/issues/64#issuecomment-588479877

[2020-06-11 00:15] Malclir commented on #92
Finally got the real numbers which are ` 1.1859599999999997` seconds on 68.6.0 build.

[2020-06-11 00:15] #92 closed, assigned to MarcLeclair

[2020-06-11 16:25] Malclir opened #126 "Take data points for VIEW from january and june"
Take data points for january and June

[2020-06-12 18:05] mcomella commented on #123
The report is mostly done.

[2020-06-12 18:05] #123 closed, assigned to mcomella, jeanygong, MarcLeclair

[2020-06-15 17:57] mcomella opened #127 "No SF startup test uploads from 6/12"
All the graphs appears to flatline on 6/12. The G5 should be more stable now so I'm not as concerned. There is a VIEW regression on the G5 recently so I'd like to see if it also occurs on these devices, however.

[2020-06-15 19:51] mcomella commented on #126
All done. 🎉

[2020-06-15 19:51] #126 closed, assigned to MarcLeclair

[2020-06-16 00:11] mcomella opened #128 "Update fennec baselines in old RC dashboard, remove them, or add a warning"
The baseline was inaccurate – I took one locally and it was around 460ms instead of 1.3s as listed on the dashboard. We can ignore the inaccurate values but people might be using this dashboard, unbeknownst to us. We should ensure they don't misuse this false data.

[2020-06-16 21:56] bdekoz commented on #127
This is fixed now, I'd forgotten to comment the date to insert as today's date, and left it as 2020.06.07.

When this happens in the future, there will be an email alert sent to perftest-alert@mozilla.com. Maybe that will make this easier to follow.

[2020-06-16 21:56] #127 closed, assigned to nobody

[2020-06-24 21:49] mcomella commented on #121
All done, thanks bdekoz! :)

[2020-06-24 21:49] #121 closed, assigned to bdekoz

[2020-07-08 22:44] mcomella opened #129 "Determine how to aggregate startup tests from multiple devices"
We have startup data from 5 devices including the G5, P2, S7, S10, P4XL. Each device seems to have different performance characteristics (G5 is fairly stable, S7 has sawtooth sometimes, high-end and low-end discrepancies) so it's difficult to interpret the data.

We should figure out a strategy for how we look at the data from these devices to make sure we're using our time and data most effective

[2020-07-08 22:46] mcomella commented on #45
triage: we want to wait for eric's opinion but we suspect this could be a high priority, just below startup work

[2020-07-08 22:54] mcomella commented on #111
@pslawless Can you check with the Firefox Profiler team on when they'll support startup profiling for `debuggable=false` builds (if they're planning to at all)?

Triage: we won't need this functionality from simpleperf if it'll come in the Firefox Profiler.

[2020-07-10 23:26] mcomella commented on #44
Addressed with https://github.com/mozilla-mobile/fenix/pull/12438.

[2020-07-10 23:26] #44 closed, assigned to mcomella

[2020-07-14 18:04] mcomella opened #130 "SF FNPRMS hasn't uploaded results from 7/4"
See https://github.com/mozilla-mobile/fenix-nightly-perftest-results/blob/d227ebd4ff02a8532287d9215d097b718f44aa3c/hanoob-results.csv – they're N/A or completely missing. This is both for MAIN and VIEW.

[2020-07-14 18:04] mcomella commented on #130
@MarcLeclair Can you take a look?

[2020-07-14 20:34] mcomella commented on #111
Stand-up: this isn't necessary anymore so closing. iirc, we expect the Firefox Profiler to support this use case fairly soon.

[2020-07-14 20:34] #111 closed, assigned to pslawless

[2020-07-14 23:09] mcomella commented on #82
I believe this is already done.

[2020-07-14 23:09] #82 closed, assigned to nobody

[2020-07-14 23:09] mcomella commented on #83
Not relevant.

[2020-07-14 23:09] #83 closed, assigned to nobody

[2020-07-14 23:11] mcomella commented on #60
Moved to JIRA

[2020-07-14 23:11] #60 closed, assigned to nobody

[2020-07-14 23:11] mcomella commented on #81
Let's close this: we can do this for the mach perf-test replacement if it's still desired.

[2020-07-14 23:11] #81 closed, assigned to nobody

[2020-07-14 23:12] mcomella commented on #108
This has sort of been done but not really actionable right now: closing.

[2020-07-14 23:12] #108 closed, assigned to nobody

[2020-07-14 23:13] mcomella commented on #85
We're tracking work like this on JIRA now: closing.

[2020-07-14 23:13] #85 closed, assigned to nobody

[2020-07-14 23:14] mcomella commented on #120
It's so long ago: we probably don't care about this anymore.

[2020-07-14 23:14] #120 closed, assigned to nobody

[2020-07-14 23:16] mcomella commented on #52
Already done.

[2020-07-14 23:16] #52 closed, assigned to nobody

[2020-07-14 23:17] mcomella commented on #13
We don't use ND anymore.

[2020-07-14 23:17] #13 closed, assigned to nobody

[2020-07-14 23:17] mcomella commented on #21
We don't use ND anymore.

[2020-07-14 23:17] #21 closed, assigned to kglazko

[2020-07-14 23:18] mcomella commented on #29
We don't use ND anymore.

[2020-07-14 23:18] #29 closed, assigned to nobody

[2020-07-14 23:18] mcomella commented on #11
We don't use ND anymore.

[2020-07-14 23:18] #11 closed, assigned to nobody

[2020-07-14 23:19] mcomella commented on #70
This won't be a problem when we move to mach perf-test: pre-emptively closing.

[2020-07-14 23:19] #70 closed, assigned to nobody

[2020-07-15 21:37] bdekoz commented on #129
segmenting on test hardware, looks like

hi - p4 > s10
medium - p2
low - s7 > g5

are plausible segments.  Within the segments, I think you can do aggregates of 2-3 devices and still retain some kind of meaning. But I'm not quite sure what we can tell about performance if we aggregate over all devices

[2020-07-15 21:47] Malclir opened #131 "MAIN: 27ms regression on S7 7/3, 13ms until 7/13; big VIEW regression too; perf commit shows downward trend"

[2020-07-20 16:16] #110 closed, assigned to bdekoz

[2020-07-20 16:16] #99 closed, assigned to bdekoz

[2020-07-20 17:10] sraturi opened #132 "[From Bugzilla] app link test crashes if no android-install-apk is provided"
https://bugzilla.mozilla.org/show_bug.cgi?id=1649272

[2020-07-20 21:00] kbrosnan commented on #132
Please provide a log or crash-stats link to the crash. Comment 0 of the bug seems to only list python code.

[2020-07-20 21:18] sraturi commented on #132
@kbrosnan sorry, I only added this to our project for reflecting the work I'm doing with `mach perf test` for android on Mozilla-central.
is there a better way of doing the same?

[2020-07-21 22:36] Malclir commented on #130
Fixed why it wasn't uploading, re running the tests currently.

[2020-07-22 15:20] mcomella opened #133 "Update TC index for FNPRMS"
The old one was deprecated but seems to hold historical builds. The new form is https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.fenix (verify the rest of the path didn't change either).

[2020-07-22 18:20] mcomella commented on #133
Closed with https://github.com/mozilla-mobile/FNPRMS/pull/29

[2020-07-22 18:20] #133 closed, assigned to mcomella

[2020-07-22 18:21] mcomella commented on #130
@MarcLeclair Can you comment why it wasn't working, in case we run into similar issues? Also, is this issue ready to be closed? We should probably open a new issue for re-running the tests.

[2020-07-22 18:30] sraturi opened #134 "[From Bugzilla] Rename app-link tests to VIEW and home_activity to MAIN"
https://bugzilla.mozilla.org/show_bug.cgi?id=1654056

This ticket is to reflect the work being done  from bugzilla

[2020-07-22 18:51] Malclir commented on #130
@mcomella  it wasn't working because of my local setup for my router. For some reason, OpenWRT was blocking the request from the desktop. The desktop is in a room where I can't get an ethernet cable to, so I connected the testing desktop to my regular desktop (through ethernet wire) that shares the wifi connection from my desktop. Not sure why it stopped working, but I just had to go change the se

[2020-07-22 18:51] #130 closed, assigned to MarcLeclair

[2020-07-22 22:01] mcomella opened #135 "Web extension doesn't meet RC on higher end devices - issue #12515"

[2020-07-22 22:01] mcomella commented on #135
@MarcLeclair Please update with info for ecsmyth

[2020-07-22 22:59] mcomella commented on #131
Repurposing this issue to focus on the regression.

Triage: we don't have good tools to identify the cause so moving to low impact backlog.

[2020-07-24 18:59] mcomella opened #136 "FNPRMS is deleting new data (July 2020 edition)"
Two days ago, FNPRMS had 7.21. Yesterday, it had 7.22 but no 7.21. Today, it has 7.23 but no 7.22. MarcLeclair mentioned the 7.2 and 7.3 had also re-run but those were deleted too. We should make sure FNPRMS isn't deleting data at all.

[2020-07-24 19:11] mcomella opened #137 "FNPRMS perf tests are broken because fennecNightly builds are no longer built (results report N/A)"
It looks like fennec-nightly is unavailable: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/mobile.v2.fenix.fennec-nightly.2020.07.24.latest.armeabi-v7a/artifacts/public/build/armeabi-v7a/geckoNightly/target.apk

nightly, on the other hand, is fine: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/mobile.v2.fenix.nightly.2020.07.24.latest.armeabi-v7a/artifacts/public/buil

[2020-07-24 19:13] mcomella commented on #137
As of three days ago, this is intended behavior: https://groups.google.com/a/mozilla.com/g/fenix-team/c/r-eDkOr0hkQ/m/tlZRumsdCAAJ

I'll follow-up.

[2020-07-24 20:19] mcomella commented on #137
This landed in https://github.com/mozilla-mobile/fenix/pull/12225. Given it's friday and we haven't had results for a few days, I think we should revert the change and figure out the long term solution next week. My preference is that the migration code moves into the `nightly` build configuration. Barring that, we should continue to build `fennec-nightly` builds, even if we don't build beta, so t

[2020-07-24 20:35] mcomella commented on #137
I opened https://github.com/mozilla-mobile/fenix/pull/12918 to revert

[2020-07-24 20:36] mcomella commented on #137
It's difficult to switch to `nightly` temporarily because it'll create a jump in the results and we can't annotate the dashboards to explain it. Also, we'll eventually undo the change when the migration code is included so it's preferred not to add that confusion to the dashboards.

[2020-07-24 20:54] mcomella commented on #137
csadilek raised a risk https://github.com/mozilla-mobile/fenix/pull/12918#issuecomment-663728284 so we can't land the revert.

Until we talk with JohanLorenzo, I think our options are:
- Do nothing. The FNPRMS performance tests will remain broken from mid-week until whenever this is resolved
- Switch to `nightly` builds. This will cause our dashboards to have inaccurate data until the long term so

[2020-07-27 08:27] JohanLorenzo commented on #137
Hi! I'm sorry for the breakage. I wasn't aware these tests existed.

For the record, an email thread was started. Let's continue the conversation there and get back here once we have a solution.

[2020-07-27 18:37] mcomella commented on #137
I discovered a solution for our perf-tests that makes this less urgent (i.e. it's still urgent but not every-day-counts urgent): SF FNPRMS has been testing two builds – with and without on the migration code – so we can run tests on the current build variant (without the migration code) without skewing our data. It's not ideal but it's serviceable.

We'll continue discussing the long term solution

[2020-07-27 19:02] mcomella opened #138 "Update fenix-nightly to 64-bit builds (on thursday?)"
We accidentally ran on 32-bit builds for fenix-nightly. If we upgrade to 64-bit, we:
- can determine if there is any performance regression or improvement for this change
- have more accurate build testing for when fennec-nightly comes back online

[2020-07-27 19:06] mcomella commented on #137
Opened https://github.com/mozilla-mobile/FNPRMS/pull/30 for the short term solution.

[2020-07-28 15:56] sraturi opened #139 "[From Bugzilla] Add Chrome applink tests"
https://bugzilla.mozilla.org/show_bug.cgi?id=1654055

[2020-07-28 15:58] Malclir opened #140 "Build chrome / investigate chrome start up ( from jira)"

[2020-07-28 16:14] mcomella commented on #138
Actually, 64-bit devices shouldn't run 32-bit builds and this build is going to be disabled so it's not a good use of time.

[2020-07-28 16:14] #138 closed, assigned to mcomella

[2020-07-29 00:17] mcomella commented on #137
bdekoz merged the changes upstream and confirmed it addressed the issue. They're filling in the missed jobs as well.

Now we're waiting on upstream changes for the long term solution.

[2020-07-29 16:13] mcomella opened #141 "Validate mach perftest VIEW against FNPRMS"
acreskeyMoz has validated that mach perf-test perf is roughly comparable to FNPRMS perf as we currently run it. We should additionally ensure they're comparable from a FE perspective.

In order to do this, we'll need to:
- fix FNPRMS
- change FNPRMS end execution point to navigationStart (like mach perf-test)
- (with acreskeyMoz?) disable performance tuning on mach perf-test

Then the results shou

[2020-07-29 23:02] mcomella opened #142 "Sync/triage action items july 29"
- [x] Christian working on query for top sites?
  - will talk to gl about new implementation in [a-c RFC](https://github.com/mozilla-mobile/android-components/pull/7931)
- [x] Meeting for marketing moment & speculative connect: acreskey, esymth, christian
- [x] Regression on 7/2
  - filed https://github.com/mozilla-mobile/perf-frontend-issues/issues/146
- [x] priority of battery bug
  - brought it

[2020-07-29 23:38] mcomella commented on #137
The short term fix didn't work: I think parsing is still broken. Moving to In Progress.

[2020-07-30 23:09] mcomella commented on #137
bdekoz made some changes that I believe address the short term issues we've been seeing. Moving to Waiting for long term solution.

[2020-07-31 17:16] #132 closed, assigned to sraturi

[2020-07-31 20:30] mcomella opened #143 "Create plan for startup perf"
https://jira.mozilla.com/browse/FXP-466

By end of August.

[2020-07-31 22:04] mcomella opened #144 "Investigate AppStartup library"
Google is creating libraries to help us understand and improve performance. AppStartup is focused on startup performance: let's see if it's useful.

[2020-07-31 22:05] mcomella commented on #144
Results here: https://docs.google.com/document/d/1EQ4eAwmCRwGvAi3Z1XppjAMEH1J6XCcqs4WVW_V-tyw/edit

Practical action items:
- Improve perf of our ContentProviders that run on startup that we haven’t improved before (investigation).
- Is it worth initializing our app components in AppStartup? Particularly, doing async initialization here to start even earlier (e.g. Gecko) or is the added overhead o

[2020-07-31 22:05] #144 closed, assigned to mcomella

[2020-07-31 22:35] mcomella opened #145 "Discrepancy in FNPRMS: large fennec-nightly improvement on 6-19 does not appear on fenix-nightly"
Screenshot of Samsung S10 results:

![image](https://user-images.githubusercontent.com/759372/89082648-70fb2c00-d343-11ea-88f7-1336a0aa3df6.png)

The discrepancy is worrying: is our methodology correct?

The old Pixel 2 results of 0.55* ms better match my local P2 than the current dashboard times of 0.43* ms.

Then again, we can just switch to mach perf-test and maybe this won't continue to be an

[2020-07-31 22:40] mcomella opened #146 "HOME startup regression on S7, ~60ms on 7/3"
![image](https://user-images.githubusercontent.com/759372/89082888-2fb74c00-d344-11ea-967c-cd8fb52dbd69.png)

It's about 60ms based on the surrounding dates.

[2020-07-31 22:41] mcomella commented on #142
All done here.

[2020-07-31 22:41] #142 closed, assigned to mcomella

[2020-07-31 22:45] mcomella commented on #145
We recently updated the parsing code assuming fenix-nightly is the only variant that's working (b/c of https://github.com/mozilla-mobile/perf-frontend-issues/issues/137) – I wonder if old results were reinterpreted with this change.

[2020-08-03 18:01] mcomella opened #147 "Clean up low-impact backlog"

[2020-08-03 18:02] mcomella commented on #128
Old dashboard will be replaced by new dashboard and this will be a non-issue: closing.

[2020-08-03 18:02] #128 closed, assigned to nobody

[2020-08-03 18:05] mcomella commented on #72
Closing: not sure this is still relevant but may apply similar ideas in the future.

[2020-08-03 18:05] #72 closed, assigned to nobody

[2020-08-03 19:06] mcomella commented on #131
Closing: we generally haven't found startup regression investigations fruitful so the tickets are low priority. They're are a lot of them and they're hard to manipulate/track in GH so we're tracking on this spreadsheet instead: https://docs.google.com/spreadsheets/d/1hiKe-1KCs8mbyFu9Fik5SIIe5I-XjEilnaIqkfcnvYo/edit#gid=0

[2020-08-03 19:06] #131 closed, assigned to nobody

[2020-08-03 19:09] mcomella commented on #117
Tracking on JIRA: https://jira.mozilla.com/browse/FXP-1257

[2020-08-03 19:09] #117 closed, assigned to nobody

[2020-08-03 19:14] mcomella commented on #129
Tracking on JIRA: https://jira.mozilla.com/browse/FXP-1259

[2020-08-03 19:14] #129 closed, assigned to nobody

[2020-08-03 19:15] mcomella commented on #2
Tracking on JIRA: https://jira.mozilla.com/browse/FXP-1260

[2020-08-03 19:15] #2 closed

[2020-08-03 19:16] mcomella commented on #146
Closing: we generally haven't found startup regression investigations fruitful so the tickets are low priority. They're are a lot of them and they're hard to manipulate/track in GH so we're tracking on this spreadsheet instead: https://docs.google.com/spreadsheets/d/1hiKe-1KCs8mbyFu9Fik5SIIe5I-XjEilnaIqkfcnvYo/edit#gid=0

[2020-08-03 19:16] #146 closed, assigned to nobody

[2020-08-04 00:05] mcomella commented on #56
Tracking on JIRA: https://jira.mozilla.com/browse/FXP-1217

[2020-08-04 00:05] #56 closed, assigned to nobody

[2020-08-04 18:51] mcomella opened #148 "Make a list of test cases for other startup configurations besides MAIN, VIEW"
See https://jira.mozilla.com/browse/FXP-481 for already documented ideas

[2020-08-04 18:56] mcomella opened #149 "Define high-priority tests for non-startup responsiveness"
https://jira.mozilla.com/browse/FXP-1221

We want to start writing mach perf-tests: let's define which cases we want to write for.

[2020-08-04 18:58] mcomella opened #150 "Add short term fix for detecting regressions"
https://jira.mozilla.com/browse/FXP-975

Blocked by https://github.com/mozilla-mobile/perf-frontend-issues/issues/141

sparky & co are working on a system that models desktop: let's see if we can cut a few corners to get something we can use sooner.

Perhaps we can figure out why sparky's per-commit build performance tests didn't correlate with FNPRMS and then fix them or use them for this purpose

[2020-08-04 18:59] mcomella commented on #136
Sending back to triage: this only seems to impact MarcLeclair's re-runs and we have data from SF so maybe it's not that important to fix?

[2020-08-04 21:18] mcomella opened #151 "Create list of telemetry we need to identify most important startup configurations to test"
We already have telemetry (in progress or landed) for:
- \# open tabs
- \# of collections

Let's identify what other telemetry we need to complete #148 then file follow-ups (in the triage queue) to implement that telemetry.

[2020-08-04 21:29] mcomella opened #152 "Copy JIRA August planning into GH backlog"

[2020-08-04 21:29] #152 closed, assigned to mcomella

[2020-08-05 22:49] mcomella opened #153 "Investigate for triage: "Visible delay to visual completeness after foregrounding""
Follow-up on the action items in the comment below this one: https://github.com/mozilla-mobile/fenix/issues/13145#issuecomment-666731227

[2020-08-05 22:58] mcomella commented on #147
We did everything we need to do for now: we'll have a regular grooming meeting going forward to look over the remainder of the column.

[2020-08-05 22:58] #147 closed, assigned to mcomella, pslawless

[2020-08-06 20:43] mcomella commented on #153
Commented here: https://github.com/mozilla-mobile/fenix/issues/13145#issuecomment-670182378

[2020-08-06 20:43] #153 closed, assigned to mcomella

[2020-08-10 16:15] #134 closed, assigned to sraturi

[2020-08-10 18:04] mcomella opened #154 "FNPRMS SF is down (August 7th)"

[2020-08-10 18:07] mcomella commented on #154
It looks like the simplified build variants landed on August 6th (according to my email) – perhaps that's related?

I see we updated FNPRMS' app ID from `org.mozilla.fenix.nightly` to `org.mozilla.fenix` around July 30 (from chat logs) so that's probably unrelated.

[2020-08-10 18:15] mcomella commented on #154
The armv8 nightly build from the 8th works correctly, no startup crashes so it doesn't seem to be due to build failures.

[2020-08-10 18:19] mcomella commented on #154
armv7 also checks out from the 8th.

[2020-08-10 23:26] bdekoz commented on #154
Not seeing this, it does look like the download template is not correct.
What is the correct fenix template? What's the email?

No longer working:
fenix_url_template="
https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/mobile.v2.fenix.nightly.DATE.latest.armeabi-v7a/artifacts/public/build/armeabi-v7a/geckoNightly/target.apk
"

On Mon, Aug 10, 2020 at 11:19 AM Michael Comella <notificatio

[2020-08-10 23:47] mcomella commented on #154
Updates from Matrix collab with bdekoz: here's the new URL: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/mobile.v2.fenix.nightly.2020.08.10.latest.armeabi-v7a/artifacts/public/build/armeabi-v7a/target.apk

The difference is `geckoNightly` is gone. That makes sense and is fall out from the build variant merging.

[2020-08-11 14:58] #139 closed, assigned to sraturi

[2020-08-11 15:27] mcomella commented on #154
These are okay:
- S7 MAIN
- S10 VIEW
- P2 VIEW

I'm not sure why some would work and others would not – I'm guessing the change didn't occur in time for all runs or the dashboard is slow to update.

[2020-08-12 16:52] bdekoz commented on #154
Hey, just an update.

Results look stable now for fenix-nightly, we are still punting on fennec-nightly until build/release bits are changed and settle down.

I've updated the influx db to fill in results from previous outages (2020-07-[22-30], 2020-08-0[6-9]), so the grafana dashboard should be accurate as of today.

P4 results look ok to me?

[2020-08-12 19:58] mcomella opened #155 "Document basics of performance testing (request from sparky)"
Sparky raised a concern that something is undocumented:

Anecdotally, I've seen folks running into trouble updating the various tests to the schemes we use in fenix and I agree there's no central place to look to understand how to adapt to fenix.

Here are specific examples sparky has on what this guide might contain:

Perhaps independently, it might be useful to have a brief page to describe the

[2020-08-12 20:00] mcomella opened #156 "Release version of fenix (others?) cannot be tested against browsertime"
Due to https://bugzilla.mozilla.org/show_bug.cgi?id=1650872

Filing an issue so we can make sure this is prioritized and doesn't get dropped.

[2020-08-12 20:23] mcomella commented on #154
@bdekoz The results good to me and nice work on the backfill! I notice the Pixel 2 MAIN status is still red but the data otherwise appears to be correct so I'll go ahead and close the ticket. Thanks!

[2020-08-12 20:23] #154 closed, assigned to mcomella, bdekoz

[2020-08-12 22:11] mcomella commented on #136
Triage: limited utility, closing.

[2020-08-12 22:11] #136 closed, assigned to nobody

[2020-08-12 22:15] mcomella commented on #145
Triage: there's too much changing with how we measure things right now so we don't care too much: closing.

[2020-08-12 22:15] #145 closed, assigned to nobody

[2020-08-17 16:00] Malclir commented on #105
done with https://wiki.mozilla.org/Performance/How_to_get_started_on_Fenix

[2020-08-17 16:00] #105 closed, assigned to MarcLeclair

[2020-08-17 16:13] mcomella opened #157 "Share perf splash page with developers"

[2020-08-19 20:41] mcomella commented on #156
Upstream is closed: closing.

[2020-08-19 20:41] #156 closed, assigned to nobody

[2020-08-20 16:11] Malclir opened #158 "Write up problems and solutions for startup"

[2020-08-21 19:45] #157 closed, assigned to MarcLeclair

[2020-08-25 16:35] Malclir opened #159 "Identify bottleneck for fenix"
Identify the bottleneck for Fenix to better understand how our changes impact start up as a whole

[2020-08-26 16:38] Malclir commented on #159
First finding: When hogging CPU from another app, Fenix startup seems to be delayed by ~150% (975ms to 2.5s on G5+)

Action items: Profile with CPU hogged

[2020-08-26 17:03] MarcLeclair opened #160 "PWA slower on Fenix"
User reported this issue on Reddit:

https://gfycat.com/pleasingunsightlyavians

[2020-08-26 17:26] sraturi commented on #135
#### Here is some information I got for **add-ons on MAIN** from poking around add-ons channels

There is some extension work that happens immediately at startup, so you should see an effect even if you don't load any page some extensions like uBlock register listeners on every page load (to see if any given resource load should be blocked or not) so Gecko stalls network requests until the extensi

[2020-08-31 16:11] #140 closed, assigned to MarcLeclair

[2020-09-01 00:01] mcomella commented on #141
_edit: I updated the numbers and strikethrough'd an invalid theory. I had made a manual adjustment to FNPRMS measurement I had forgot about and needed to revert._

mach perftest in FNPRMS parser:
- raw: 1.835s
- w/ additional delays (10s total): 1.599s
- w/ additional delays & conditioned profiles: 1.969s

FNPRMS:
- raw: 1.2628s
- w/ `adb shell am set-debug-app` & fresh conditioned profile used fo

[2020-09-01 00:20] mcomella commented on #141
_edit: Strikethrough b/c I used the wrong numbers, see above._

There is also this log from perftest:

~~The discrepancy between FNPRMS and perftest is around 310ms – I wonder if this log about a WaitTime of 493ms (units?) is related.~~

[2020-09-02 00:25] mcomella commented on #141
I did a comparison over 15 runs on my Pixel 2 with Nightly 200901 using mach perftest w/ the added delays and conditioned profiles through FNPRMS' log parser vs. FNPRMS with conditioned profiles:
- perftest: 1.9758s
- FNPMRS: 2.0188s
- diff: 43ms

The difference is within the noise, especially since this loads a page and FNPRMS restores its own session instead of what's in the profile, so I feel l

[2020-09-02 01:55] mcomella commented on #141
I got numbers for the GS5 (limited to 4 runs b/c mach perftest overflows the logcat output):
- perftest w/ modifications: 4.73s
  - ['4.660000', '4.730000', '4.750000', '4.780000']
- FNPRMS w/ modifications 4.6125s
  - ['4.400000', '4.640000', '4.660000', '4.750000']

These would probably be close enough with enough runs (I expect this device to be noiser than the P2 too).

[2020-09-02 13:43] acreskeyMoz commented on #141
To determine the optimal number, I would push a few options to try. i.e. `./mach try fuzzy --full` and then select the VIEW tests.
We can then compare the results and see the impact.

Right now it's 14 per test.
https://searchfox.org/mozilla-central/rev/84922363f4014eae684aabc4f1d06380066494c5/taskcluster/ci/perftest/android.yml#61
We chose this some time ago as the results seemed to stabilize. (S

[2020-09-02 16:26] mcomella commented on #141
_edit: reduced action items in https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-689174357_

I regrouped the action items from https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-685204286 into more actionable focus areas and bolded the ones I think we should address in this issue, before replacing FNPRMS VIEW with mach perftest:

### Accurac

[2020-09-02 16:31] mcomella commented on #141
I'm assuming it's because the logcat logs are pulled at the end and my device has a small maximum logcat buffer – I had the same problem with FNPRMS on this device and had to rewrite the code to pull the logs between runs.

[2020-09-02 17:52] acreskeyMoz commented on #141
Locally, on Pixel 3 and Moto G5,  I'm seeing `./mach perftest` _skip_ onboarding, and correctly measure `MAIN` results.
e.g. `[1437.0, 1381.0, 1345.0]`

If I disable the `performancetest` intent arg, _then_ I see it launch to onboarding.
https://searchfox.org/mozilla-central/rev/2b250967a66886398e5e798371484fd018d88a22/testing/performance/hooks_android_main.py#16-17

So I think this looks like it'

[2020-09-02 21:37] mcomella commented on #141
Referencing the P2, **I don't think adding a delay is necessary with conditioned profiles,** which seem to add a large delay between runs anyway that gives the device enough time to settle. This is fragile if we decide not to use conditioned profiles, however. Here are the numbers:
- baseline FNPRMS: 2.0188s https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-685204286
-

[2020-09-02 22:56] Malclir commented on #159
Increase CPU usage was found to affect startup, but comparing profile A (no change in cpu usage) to profile B (increased cpu usage) showed that the two profiles were relatively the same in terms of % per method call.

[2020-09-02 22:56] #159 closed, assigned to MarcLeclair

[2020-09-03 00:11] Malclir commented on #158
Write up is done with our proposed  solution.

[2020-09-03 00:11] #158 closed, assigned to MarcLeclair

[2020-09-08 22:04] mcomella commented on #141
I built a custom GV that returns false from the [`isApplicationCurrentDebugApp`](https://searchfox.org/mozilla-central/rev/b2716c233e9b4398fc5923cbe150e7f83c7c6c5b/mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java#401) method that triggers reading the GV configuration YAML that modifies how GV runs, including the code that enables marionette. The FNPRMS VIEW results sh

[2020-09-08 22:43] mcomella commented on #141
Our goal is to replace FNPRMS which is currently functioning as a regression detection system. It is not currently being used for, but was and will later be used for comparing performance against other applications including fennec and Chrome. In the current use case, relative values are all that matter. In the latter, inactive use case, absolute values matter.

With these goals in mind, let's loo

[2020-09-08 23:44] mcomella commented on #141
I looked at the performance tests for a recent Treeherder revision ([G5 treeherder](https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&group_state=expanded&revision=80ac8d8c74d53bba7cac84f38951e6e9c5efc5e5&selectedTaskRun=VH6DzWKUT6a6DkYlzdx-bQ.0), [G5 perf data 1](https://firefoxci.taskcluster-artifacts.net/VH6DzWKUT6a6DkYlzdx-bQ/0/public/build/9168862f03155701cc87fe8b897ad1cc2fe0c269-per

[2020-09-09 00:13] mcomella commented on #141
Using the results from the comment above, the results seem just as noisy as FNPRMS though we do fewer runs in mach perftest.
- On [the P2 14-day graph](https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2634697,1,13&selected=2634697,1217882224), we see a diff of 68ms (1302ms to 1370ms)
- In the P2 replicants for data 1, we see a diff of 229ms or 115ms if we remove a possible o

[2020-09-09 13:45] acreskeyMoz commented on #141
perf-tuning is enabled on P2 in CI (but not G5 since it introduced noise)
https://searchfox.org/mozilla-central/rev/b2716c233e9b4398fc5923cbe150e7f83c7c6c5b/taskcluster/ci/perftest/android.yml#90

Conditioned profiles are enabled for both devices:
https://searchfox.org/mozilla-central/rev/b2716c233e9b4398fc5923cbe150e7f83c7c6c5b/taskcluster/ci/perftest/android.yml#96-98

[2020-09-09 19:36] mcomella commented on #141
Spoke to sparky about noise today: we're concerned about increasing iterations because the tests already take 30-40min to run. However, the theory is we keep iteration count low and run per-commit, we can see where regressions are introduced by looking at multiple runs, rather than getting each commit exactly right. We also have the ability to retrigger to get additional data making accuracy on ev

[2020-09-09 19:37] mcomella commented on #141
Sparky mentioned we run adb logcat at the end; I can't think of other adb commands we'd be running continually (the ones I can think of are all commands that dump info) so I think we can stop investigating this for this MVP effort.

[2020-09-09 19:49] mcomella commented on #141
https://searchfox.org/mozilla-central/rev/b2716c233e9b4398fc5923cbe150e7f83c7c6c5b/taskcluster/ci/perftest/android.yml#90

I enabled perf-tuning locally and got times of 1624ms, compared to 1319ms on CI. Looking into it...

[2020-09-09 19:56] mcomella commented on #141
I got 1521ms from running the latest nightly-simulation build; perhaps I will try to compare my args and builds against those run in CI to make sure I'm running in an identical situation. Then I suppose I can try comparing the logs.

[2020-09-09 20:07] acreskeyMoz commented on #141
Is your local device rooted?
If it's not the perf-tuning will be skipped by the test harness.

Another thing I haven't looked at is the variance from one device to device (e.g. one Pixel 2 to another).

Although in CI it's 14 iterations on one device from a pool, and we're not seeing a huge amount of noise from device to device.

[2020-09-09 20:09] acreskeyMoz commented on #141
With some work I made a geckodriver that automatically enables Fenix startup profiling.

The root cause of this discrepancies looks to be the scanning of the addons database for changes (which we only see in conditioned profiles).

I've logged this one and I'm following up with the addons folks:
https://bugzilla.mozilla.org/show_bug.cgi?id=1664025

[2020-09-09 20:34] Malclir commented on #143
Document was sent to every one, next step is to have a more actionable doc with phases

[2020-09-09 20:34] #143 closed, assigned to mcomella, MarcLeclair

[2020-09-09 22:45] mcomella commented on #141
No. I tried [disabling perf tuning on CI](https://treeherder.mozilla.org/#/jobs?repo=try&selectedTaskRun=UshQt0KGSMSdQgKqlmkxBg.0&tier=1%2C2%2C3&revision=7205b8986e7088a794ae655c59d7e1b7913fa36b) instead but I get roughly the same result: 1324ms.

I tried to match the mach perftest arguments from CI but I still get large values 1553.8ms. The only one I haven't been able to match yet is `--browsert

[2020-09-09 23:39] mcomella commented on #141
I tried downloading the same build as the per-commit run in the try push above but still got similar results.

I tried using the `--browsertime-geckodriver` arg by getting [a recent version of geckodriver linked by sparky](https://treeherder.mozilla.org/#/jobs?repo=autoland&revision=5198f71d9969cf44d814a604a3e070ac73b77e20&selectedTaskRun=Av4fmYVzRqKNuksRTakisA.0) but got the same results. Here's

[2020-09-11 22:02] mcomella commented on #141
In addition to the leads above, sparky suggested:
- I run the test locally with a rooted, fairly blank Pixel 2 as a test device rather than my personal, unrooted phone

---

I took two profiles to try to understand the root cause of why CI perftest takes longer than my perftest:
- VIEW, normal start: with `adb shell am start`: https://share.firefox.dev/3in5yBR
- VIEW with mach perftest: https://sh

[2020-09-11 23:00] mcomella commented on #141
What I got from the profiles so far:
- In normal, `Navigation::Start` is 1.854s; in perftest is 2.324s = **470ms diff** (my FNPRMS raw to perftest diff was 573ms to page load complete https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-684110050 – taking noise into account, **it's possible the delay all occurs before `Navigation::Start`, assuming these are normal profile

[2020-09-11 23:14] mcomella commented on #141
I wonder if the addons DB scanning is also related here (200-300ms delay on acreskeyMoz's P2): https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-689794541 I'm not sure if my normal start up was run with a conditioned profiles or not.

[2020-09-14 16:03] Malclir opened #161 "Bug to track bugzilla for different threads"
Bug for multiple threads profiling : https://bugzilla.mozilla.org/show_bug.cgi?id=1618560

[2020-09-14 16:57] mcomella commented on #141
I see a 390ms diff in `checkForChanges` between the two profiles (curiously, acreskey mentions a 200-300ms delay). Combined with the marionette's 155ms, that's 545ms. ~~I saw a 470ms diff from a normal start-up to the perftest start up w/ conditioned profiles: it's possible the cause are these two items.~~ The bulk of marionette occurs after navigation start so nvm that last statement.

The proble

[2020-09-14 17:32] mcomella commented on #141
I think this actually came from my numbers of perftest conditioned vs non-conditioned, not acreskey's P2.

[2020-09-14 18:53] mcomella commented on #141
Because it's Monday and I don't know where I am anymore...

## Summary so far, targeting current problems:
Our **goal** is to replace FNPRMS for:
1. (now) regression detection
1. (later) to measure absolute performance against a baseline (Fennec, Chrome, etc.)

For **replacing a regression detection system**, we care about:
* Equivalent, or reduction of, noise
* Perf regressions or improvements to

[2020-09-14 20:06] mcomella commented on #141
#### Broad approaches
So far, we've been trying to understand what mach perftest is doing differently from FNPRMS to theoretically verify it would accurately represent changes the the code. Instead of, or in addition to, this, we could:
- Intentionally land regressions or improvements on perftest & FNPRMS and measure the difference (it'd be hard to validate for all types of changes though)

#### T

[2020-09-14 20:08] mcomella commented on #141
acreskeyMoz took numbers on the G5:

~3340ms (overall score for a run is ~3300ms to ~3400ms)
CI G5 (rooted):
~3150ms (reproduced over multiple runs)
https://treeherder.mozilla.org/perf.html#/graphs?series=try,2611385,1,13&selected=2611385,1219705978

This generally lines up with what we're seeing on the P2.

[2020-09-14 21:56] mcomella commented on #141
acreskey verified network latency applied to the the host machine and the device doesn't seem to impact test time:

acreskey
So far I don't see much if any impact from pretty severe throttling (i.e. painfully slow to navigate web):

3321.85

3381.857

Now running at 500ms round trip latency and I'm seeing similar numbers. So that's good for reproducibility of environments, anyway..

Also, we're se

[2020-09-15 22:12] mcomella commented on #141
I added some long term concerns I've dabbled on here to future of cold startup meeting agenda.

---

I previously validated noise on the P2. At MarcLeclair's suggestion, I just checked the noise on GS5/G5:
- FNPRMS GS5: diff of 320ms (10 runs)
- perftest GS5: broken: it just keeps increasing
- perftest **G5** on CI: diff of 312ms ([data](https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task

[2020-09-16 16:29] mcomella commented on #141
I made [a try run without conditioned profiles](https://treeherder.mozilla.org/#/jobs?repo=try&selectedTaskRun=FebihClBTpu-8ce2J5Uh4A.0&tier=1%2C2%2C3&revision=fe6ab4bfe662cb9c949b4b8a8996abe26baaf45d): it is 1120ms, which is faster than the conditioned profiles runs we've been seeing (1322ms https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-692246058) and the differen

[2020-09-16 20:56] mcomella commented on #141
Next steps:
- (waiting) Test rooted, non-personal P2 on perftest
- (not sure what else to look for) Compare profiles of normal run to local perftest profile to get ideas (confirmed checkForChanges and marionette): https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-691331138

[2020-09-16 21:03] mcomella commented on #141
We also decided to disable condprof given that it wasn't running what users were experiencing:

mcomella: I found an inherent problem with conditioned profiles and the multicommit test:
The addon check will run on startup if the Services.appinfo.version doesn't match between profile and binary. (This changes with gecko versions). The multicommit fenix test uses one conditioned profile for all of t

[2020-09-16 22:10] mcomella commented on #141
I took new startup profiles on Nightly 200916 18:07 because I wasn't sure if the old profiles https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-691331138 used condprof or not:
- normal adb VIEW: https://share.firefox.dev/32C3FeX
- perftest VIEW non-condprof: https://share.firefox.dev/3c3q1cv

Before taking the profiles, I:
- cleared data
- launched the app
- opened app

[2020-09-17 18:33] mcomella commented on #141
We got runs on a non-personal, rooted P2. Conditioned profiles:
[code]

Non-cond prof:
[code]

This basically matches CI ([non-cond prof run](https://treeherder.mozilla.org/#/jobs?repo=try&selectedTaskRun=RVgZkJ2YQQWEZl_SKKZS7w.0&tier=1%2C2%2C3&revision=8fd36f665d47c2cc52b6e84dd7cfa321792fe84a)). That means there is a discrepancy in my local setup.

---

## Resummarize
To follow-up on the last sum

[2020-09-17 18:48] mcomella commented on #141
acreskeyMoz agreed that we may want to just start using the system. We will:
- [x] Document known differences between normal start-up and mach perftest startup ([doc](https://wiki.mozilla.org/TestEngineering/Performance/Fenix))
- [x] File follow-ups to document more differences and find root cause of rooted/unrooted discrepancy
- [x] Figure out how to start using perftest for regression detection

[2020-09-17 19:24] mcomella commented on #141
- https://jira.mozilla.com/browse/FXP-1345
- https://jira.mozilla.com/browse/FXP-1346

[2020-09-17 19:26] mcomella opened #162 "Start using mach perftest VIEW for regression detection"
We've hit diminishing returns in our validation investigation https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-694429310 and we believe it's ready to be used.

Along with this effort, we should consider including this data into the existing FNPRMS dashboards.

[2020-09-17 19:27] mcomella commented on #141
https://github.com/mozilla-mobile/perf-frontend-issues/issues/162

Sounds like this investigation is done! 🎉

[2020-09-17 19:27] #141 closed, assigned to mcomella

[2020-09-18 22:38] mcomella commented on #162
I think the per-commit data is too noisy to identify a specific commit that caused a regression. The following graphs are using pixel 2 data and I generated them using [sparky's script with these changes](https://github.com/gmierz/moz-current-tests/pull/1) (waiting to merge into master).

Here's FNPRMS over the past 30 days, 25 replicates per data point:
![image](https://user-images.githubusercont

[2020-09-18 23:26] mcomella commented on #162
To be explicit: viewed from this perspective, perftest is not yet a good substitute for FNPRMS as a nightly measurement system, nevermind per-commit regression detection.

[2020-09-19 00:55] gmierz commented on #162
One thing to note here is that these comparisons are between a small pool of devices (FNPRMS) versus a larger pool of devices (perftest). You might want to isolate a time series for each device in perftest and see if either of them, or some combination of them (if fnprms uses more than one) match up to FNPRMS. It's possible that the regressions detected in FNPRMS are biased because your sample/tes

[2020-09-21 14:11] acreskeyMoz commented on #162
This is my suggestion:

We take the raw results from these runs:

• perftest in CI with 25 iterations
• perftest in CI with 14 iterations
• FNPRMS run with 25 iterations
• (maybe?) FNPRMS run with 14 iterations

And for each we calculate:
• Std Dev
• Margin of Error

And compare.
Maybe n=30 is the sweet spot for these tests?

Perhaps we'll also want to compare variance. @gmierz was using a Levene

[2020-09-21 17:36] gmierz commented on #162
Levene's test should definitely be used here to compare variance between multiple data sources with potentially differing means. It will tell you if there is a statistically significant difference in the variance, and more specifically, it only tells you if they are equal or not. You can then use the %-change in std.dev./errors to determine which one is larger if there is a difference.

I still th

[2020-09-21 18:10] mcomella commented on #162
I do have a couple of days work already scheduled ahead of me though.

@acreskeyMoz If you have the cycles for it, I think it'd be ideal! :) I don't have any statistics background nor do I have much familiarity with how our CI infra is set up so I think it'd be time consuming for me and I'd need to bother you or sparky frequently anyway.

To be explicit: ideally, we could get this ASAP but I think

[2020-09-21 21:44] acreskeyMoz commented on #162
I'm starting on this now -- I expect to have the initial summary for perftest by tomorrow.

I'm also including a variation where the multicommit fenix is replaced with the nightly.

@mcomella Can you provide me with individual results from FNPRMS runs on G5 and Pixel 2?
Ideally from a few runs.

[2020-09-22 19:42] mcomella commented on #162
Ideally from a few runs.

Clarified the requirements async:
- 6-10 times total
- Each run on 25 iterations
- Whichever Nightly build is fine
- Just share the final durations, not the logs

I'm getting P2 numbers and MarcLeclair is getting G5.

[2020-09-22 21:16] acreskeyMoz commented on #162
When I have all the data I'll summarize this, but FYI I'm collecting raw numbers and statistics on them here:
[perftest and FNPRMS variance](https://docs.google.com/spreadsheets/d/1S_sPAZlHU8hGC7WN7haZJ551AKE3YhlzqVGOdc_t53I/edit#gid=0)

[2020-09-22 21:39] mcomella commented on #162
[FNPRMS numbers for the P2 (zip)](https://github.com/mozilla-mobile/perf-frontend-issues/files/5264143/perftest-compare-p2.zip)

[2020-09-23 19:48] acreskeyMoz commented on #162
I've imported all the results (thank you Michael and Marc and CI).
So far this is what we're looking at:

| Test | Iterations | +/- ms (95% Margin of Error, average from 10 runs) |
| --- | --- | --- |
| perftest-g5 |14 | 35.86|
| perftest-g5 |25 |21.59 |
| perftest-p2 |14 | 39.82 |
| perftest-p2 |25 | 22.75 |
| fnprms-p2 |25 | 19.11|
| fnprms-g5 |25 | 27.90|

[2020-09-23 20:37] gmierz commented on #162
@acreskeyMoz is the difference in the mean/median between FNPRMS and perftest statistically insignificant or significant? If it's significant, we should be reporting % differences (`error/mean`) rather than raw ms values.

[2020-09-23 20:41] acreskeyMoz commented on #162
@gmierz In https://github.com/mozilla-mobile/perf-frontend-issues/issues/162#issuecomment-697935474 I'm just showing the calculated margin of error for each of those tests.
We can't directly compare FNPRMS and perftest means/medians because they test a different spot on the navigation timeline.

[2020-09-23 21:00] gmierz commented on #162
Right but the size of the margin of error can be dependent on the mean/median or a larger mean could produce larger deviations in comparison to a smaller mean which would produce smaller deviations.

For instance, if one has a mean of 100 with a margin of error of 50 whereas another case has a mean of 200 with a margin of error of 50. Looking at only the margin of error without considering the mea

[2020-09-23 21:45] acreskeyMoz commented on #162
Ah yes, point taken.
We should not be directly comparing the fnprms and perftest margin of errors. (Their means are ~10% different on G5, ~20% different on P2).

But we can see that increasing perftest iterations to 25 (at least on G5, so far) gives us a margin of error that I believe is closer to what @mcomella is looking for.

[2020-09-23 22:58] gmierz commented on #162
Yea I agree, perftest-g5 vs fnprms-g5 is looking promising! :)

[2020-09-24 14:14] acreskeyMoz commented on #162
Added perftest-p2 results to https://github.com/mozilla-mobile/perf-frontend-issues/issues/162#issuecomment-697935474

[2020-09-24 15:25] acreskeyMoz commented on #162
Some simple plots of the first two runs for each device and test. (25 iterations for all tests)
[From here](https://docs.google.com/spreadsheets/d/1S_sPAZlHU8hGC7WN7haZJ551AKE3YhlzqVGOdc_t53I/edit#gid=1595229252&range=M31
)
<img width="471" alt="g5" src="https://user-images.githubusercontent.com/44072237/94165546-57182a00-fe58-11ea-8dc9-0b60af672531.png">

<img width="470" alt="p2" src="https://us

[2020-09-24 15:25] mcomella commented on #162
@acreskeyMoz Another thing we can potentially do to reduce noise in perftest is to add delays. In my initial analysis when adding delays https://github.com/mozilla-mobile/perf-frontend-issues/issues/141#issuecomment-686043015, I was using conditioned profiles so there was a delay built in as the profiles were copied over – this delay doesn't exist without conditioned profiles disabled and could be

[2020-09-24 15:28] acreskeyMoz commented on #162
Ah yes, that's a good and simple change.

We can discuss today, but so far these look like good improvements:

1. Add a short delay between tests (browsertime configuration)
2. Increase perftest iteration count from 14 to 25

[2020-09-25 13:40] acreskeyMoz commented on #162
We decided against prematurely adding delays with out data to show they yield improvements:

Increase iterations to 25:
https://bugzilla.mozilla.org/show_bug.cgi?id=1667238

[2020-09-28 20:33] mcomella commented on #162
The iteration change landed three days ago: the **next action item** for this bug is to look at the results (via the script and perhaps tree herder) to see if 1) we can see similar trends to FNPRMS or 2) if the trends in FNPRMS don't accurately match what we might expect from users.

[2020-09-28 20:47] mcomella commented on #162
The script doesn't return results after 9/15 – I'll need to check with sparky about what's going on.

[2020-09-30 16:43] mcomella commented on #162
Sparky mentioned the Active Data system – an elastic search database used by some scripts – is not ingesting data correctly. I filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1668327

To get fenix per-commit regression detection working, I think my options are to:
1. Get this fixed somehow
1. Wait for the perf sheriffing work to complete

However, I'm not sure the interface in 2 will allow us

[2020-09-30 20:34] gmierz commented on #162
@mcomella for the script that relied on AD, I'm going to try to port that visualization to grafana through some work tarek has been doing.

[2020-10-01 16:31] mcomella commented on #137
I think it's been too long and it'd be more disruptive to change things so I think we should leave it the way it is.

[2020-10-01 16:31] #137 closed, assigned to mcomella, bdekoz

[2020-10-01 20:10] acreskeyMoz commented on #162
If we want to compare the FNPRMS trends more closely to perftest, one option is to push jobs to try where the perftest `view` test measures the time to loadEventEnd:

https://searchfox.org/mozilla-central/source/testing/performance/perftest_android_view.js#14-16

[code]

[2020-10-08 21:06] mcomella commented on #162
Status update: Tarek is working on inserting perftest data into grafana. Once that's complete, we should be able to download the data directly from grafana.

If that takes too long, Sparky has a workaround for the active data issue; it doesn't sound like active data is coming back.

[2020-10-08 21:07] mcomella opened #163 "Think of start up defense strategy at a high level"
Our start up improvement plan focuses on offense – this bug is to think from a high-level about our defense.

[2020-10-15 17:00] mcomella commented on #163
Have a WIP, need to shop it around.

[2020-10-20 22:44] mcomella commented on #163
MarcLeclair and pslawless seemed to like the ideas. Our following actions are kind of blocked on the data analysis though https://github.com/mozilla-mobile/fenix/issues/15926 so I'll put in waiting.

[2020-10-27 19:56] Malclir opened #164 "Milestone 1 (the new one) deliverables"

[2020-10-27 20:00] #163 closed, assigned to mcomella

[2020-10-27 20:12] mcomella commented on #163
I came up with some interesting ideas but this isn't actionable anymore so closing.

[2020-10-28 20:26] mcomella commented on #155
Triage: we haven't had anybody ask for this recently so no rush; we should consider doing it with https://github.com/mozilla-mobile/fenix/issues/13470

[2020-10-28 20:26] mcomella commented on #135
Triage: we don't know which add-on to test with and haven't gotten an answer from the webExtensions team. Moving to main triage so we can review again next week.

[2020-10-28 20:26] mcomella opened #165 "Create process to go through code owners equitably"

[2020-11-04 22:40] mcomella opened #166 "File issue to put stores, action handling on the main thread (except BrowserStore)"
csadilek to talk to Sebastian and file an issue in ac.

[2020-11-05 21:21] #164 closed, assigned to MarcLeclair

[2020-12-02 22:38] mcomella commented on #135
Triage: is this for pageload? Didn't meet page load RC? RC doesn't really matter right now. Most important thing for us is list of add-ons to test on start up. Only tested with ublock... should be no start up cost (besides ublock).

[2020-12-02 23:30] mcomella opened #167 "mach perftest does not work on Galaxy S5 because invalid process ID is returned"
Work is being tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1667223. The GS5 is my low-end test device so I wanted to get it working.

The alternative is to get a Moto G5 but I don't want to wait for that.

[2020-12-04 18:36] mcomella opened #168 "Measure difference in COLD start time for LazyComponent change"
Blocked on #167.

[2020-12-04 18:36] mcomella commented on #168
Added it.

[2020-12-04 18:36] #168 closed, assigned to mcomella

[2020-12-04 18:40] mcomella opened #169 "Ship mcomella a Moto G5"

[2020-12-05 00:24] mcomella opened #170 "Add docs on how to use a local browsertime with mach perftest"
https://bugzilla.mozilla.org/show_bug.cgi?id=1680853

[2020-12-07 21:58] mcomella commented on #45
We have experiment selection code on start up now: https://github.com/mozilla-mobile/fenix/issues/16901 Moving to triage.

[2020-12-07 23:03] mcomella opened #171 "perftest fails on android 11"
https://bugzilla.mozilla.org/show_bug.cgi?id=1667224

[2020-12-08 21:22] mcomella opened #172 "Identify and file main thread IO crashes from experiments in fenix"
Filing to track work that's already completed. Resulted in filing https://github.com/mozilla-mobile/fenix/issues/16901 and https://github.com/mozilla-mobile/fenix/issues/16902

[2020-12-08 21:22] #172 closed, assigned to mcomella

[2020-12-09 01:21] mcomella commented on #171
It was implemented incorrectly: https://bugzilla.mozilla.org/show_bug.cgi?id=1650891#c27 We should find someone to address these issues.

[2020-12-09 18:10] mcomella commented on #171
It was implemented that way because they did not think it was possible to do non-debuggable, unrooted but I provided an alternative implementation in https://bugzilla.mozilla.org/show_bug.cgi?id=1680407#c13 Let's continue the discussion.

[2020-12-09 22:36] mcomella commented on #135
Let's reopen when we deal with release criteria again – we're not quite sure what this is for.

[2020-12-09 22:36] #135 closed, assigned to ecsmyth

[2020-12-10 20:11] mcomella commented on #171
Waiting on upstream implementation.

[2020-12-17 21:39] mcomella commented on #167
Fixed upstream (though browsertime needs to get updated in m-c before it can be used completely).

[2020-12-17 21:39] #167 closed, assigned to mcomella

[2021-01-04 21:07] Malclir commented on #169
the item has been received!

[2021-01-04 21:07] #169 closed, assigned to MarcLeclair

[2021-01-12 21:43] mcomella opened #173 "Create plan for "What's needed for regression testing" (start-up and new areas)"
We want to know what's needed for regression testing in start up and in other areas of the code base.

pslawless requested that this plan be simple and state:
- This is where we are
- What is our desired end state?
- Where are we blocked?

Then we should share our draft with others.

[2021-01-13 00:51] mcomella commented on #149
We'll refile this if it's needed.

[2021-01-13 00:51] #149 closed, assigned to nobody

[2021-01-13 00:52] mcomella commented on #151
Let's reopen when we need it.

[2021-01-13 00:52] #151 closed, assigned to nobody

[2021-01-13 00:52] mcomella commented on #150
Let's reopen if needed.

[2021-01-13 00:52] #150 closed, assigned to nobody

[2021-01-13 00:56] mcomella commented on #165
Let's reopen this when we feel it's important.

[2021-01-13 00:56] #165 closed, assigned to nobody

[2021-01-13 01:00] mcomella opened #174 "In Firefox Profiler docs, document our script to run start up profiling"
Blocked on https://github.com/mozilla-mobile/fenix/pull/17359

[2021-01-13 01:04] mcomella commented on #171
Last comment was 27 days ago and the assignee is now inactive. Let's throw to triage.

[2021-01-13 01:12] mcomella opened #175 "Clean backlog"

[2021-01-13 20:10] mcomella commented on #148
Let's reopen this when needed. We're meeting Friday to discuss different places we can invest over the quarter.

[2021-01-13 20:10] #148 closed, assigned to nobody

[2021-01-13 21:54] mcomella commented on #155
We haven't heard about this for a while – let's reopen if we hear about it again.

[2021-01-13 21:54] #155 closed, assigned to nobody

[2021-01-13 22:14] mcomella commented on #175
All done.

[2021-01-13 22:14] #175 closed, assigned to mcomella

[2021-01-13 22:21] mcomella opened #176 "Figure out how to offense on cold startup"
Take a profile, see a possible improvement, make a prototype, and validate it, not being confused by the noise, etc.

[2021-01-13 22:22] mcomella commented on #176
Filed this an in issue to track the work we've already done here. I don't know that having an issue open for this is particularly actionable or useful (even though we're going to be continuously looking at profiles) so I'm going to close it though.

[2021-01-13 22:22] #176 closed, assigned to mcomella, MarcLeclair

[2021-01-15 19:10] mcomella opened #177 "Categorize: ready-to-work & pre-req-needed items from "Which fenix areas to improve?" meeting"
In [our meeting doc](https://docs.google.com/document/d/1VutLhlvqsJ_30t0_ciasHlD0dWFpRzqU-PdkMSiHK6s/edit), we collected several items under the "What areas of the code should we look into?" bullet. We want to bucket them into a few categories:
- "Which items are ready to start working on?" (e.g. WARM start up is immediately actionable)
- "Which items require pre-work and, briefly, what is that pr

[2021-01-15 23:27] mcomella commented on #173
My draft is here: https://docs.google.com/document/d/1ArKp0r0aqj3BxJt0oSrtJ1ZQji7xYd65j709O-ZrQKA/edit#

I'll leave this open pending feedback and the planning meeting.

[2021-01-15 23:59] mcomella opened #178 "Replace example.com as test site in VIEW perftest (maybe FNPRMS)"
https://bugzilla.mozilla.org/show_bug.cgi?id=1670247

We can use our own github.io instead, given we pay for that organization and thus the hosting and these sites are generally reliable.

We could consider changing it in FNPRMS too but it'll affect the results (since it does a full page load) and we're moving away from FNPRMS anyway.

[2021-01-19 22:18] mcomella commented on #178
Moving to waiting: we're going to wait until https://github.com/mozilla-mobile/fenix/issues/17447 is done before landing to minimize the number of variables.

[2021-01-19 22:29] mcomella commented on #174
Submitted a PR: https://github.com/firefox-devtools/profiler/pull/3137

[2021-01-19 23:04] Malclir commented on #177
From what I gathered, this is what I thought was the most appropriate:

Ready to work:
- WARM startup --> looking at more in depth / engineering work on this
-  A more "realistic" view of startup --> I.e: older profiles, profiles with add-ons, etc...
-  Disk reads --> Desktop focus is reduced/eliminating disk reads. We could investigate our disk reads on startup.
- Firefox Accounts --> Investigate

[2021-01-20 18:34] mcomella commented on #173
We discussed it so I'll close this issue.

[2021-01-20 18:34] #173 closed, assigned to mcomella

[2021-01-20 21:57] #177 closed, assigned to MarcLeclair

[2021-01-21 01:24] mcomella opened #179 "Create front-end timeline of Android WARM VIEW"
To help us get on the same page with regard to the what questions we have for WARM LINK data discussion.

[2021-01-21 01:25] mcomella commented on #179
Here's my chart:

![WARM-LINK-timeline](https://user-images.githubusercontent.com/759372/105261437-7e4fe100-5b44-11eb-9f94-ca8763580cef.png)

[2021-01-21 01:25] #179 closed, assigned to mcomella

[2021-01-22 20:14] csadilek commented on #166
Issue filed for investigation to reduce number of threads used by stores (and other components): https://github.com/mozilla-mobile/android-components/issues/9424

[2021-01-22 20:14] #166 closed, assigned to csadilek

[2021-02-05 22:57] mcomella opened #180 "Discuss current pattern of creating a new thread for serial execution guarantees using coroutines"
I'm creating this issue to discuss during triage.

In a few places in the code, the comments indicate we use singleThreadExecutors to serialize execution of the code:
- https://searchfox.org/mozilla-mobile/rev/0d8307b3d2c9fdbc13248ec29a1e4b1f6e6c67d8/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt#129-132
- https://se

[2021-02-06 02:20] mcomella commented on #180
We could try spawning the same number of threads in a sample app and measure it compared to the default to see how it affects startup time, maybe?

[2021-02-08 17:21] mcomella commented on #180
We might be able to do some rough measuring with the `vmstat` command, which has a measure of the "number of context switches per second" and "the time spent running kernel code". There are other measures that might be useful to us for other purposes, such as "time spent waiting on IO".

[2021-02-09 23:33] mcomella commented on #174
Addressed in https://github.com/firefox-devtools/profiler/commit/536bb8d796e049bfa11b9dce2850e6858b94dac5

[2021-02-09 23:33] #174 closed, assigned to mcomella

[2021-02-09 23:42] mcomella commented on #178
I'd like to get some wins first so let's move this to the backlog.

[2021-02-10 00:09] mcomella commented on #178
Actually, there's an r+'d patch so we're just waiting for our "improvement" alert in the perftest dashboard.

[2021-02-18 01:05] mcomella commented on #180
Triage: This is a subset of https://github.com/mozilla-mobile/android-components/issues/9424 so we'll leave this issue in triage to remind us to check in with that issue to make sure it gets worked on.

[2021-02-18 02:08] mcomella opened #181 "File bugs for addressing start up crashes related to network access"
**Problem:** perftest fails because of bad fenix builds. Normally this would be caught in PRs but mc perftests are detached from fenix

**Solutions:** Can we solve this generically? If need specific, for recent Nimbus, can we have a startup UI test with network enabled that returns error results from servers?

Triage: we'd have to try it out to see if it's possible...

[2021-02-18 02:08] mcomella commented on #181
Filed https://github.com/mozilla-mobile/fenix/issues/18040 & https://github.com/mozilla-mobile/fenix/issues/18041.

[2021-02-18 02:08] #181 closed, assigned to mcomella

[2021-02-19 00:44] mcomella commented on #162
Talking with pslawless, we're waiting for more cycles (perhaps from the perf test team) to complete this effort.

[2021-02-19 00:46] mcomella opened #182 "Create proposal for remaining Q1 focus"

[2021-02-19 00:48] mcomella commented on #182
Proposal: https://docs.google.com/document/d/1ydgMIhMlD4KXt09SWDO4QxHqGpMf6F58P_RvPlqB8Kk/edit

I'm trying to figure out how to put it into practice now.

[2021-02-24 00:21] mcomella commented on #182
We're going to do what we've been doing (profile & find issues OR pull from the backlog) and additionally, I'll populate the backlog with relevant things focusing on our goals, such as:
- Choose a start up config to profile each week
- Ensure we’re profiling and not just doing the backlog
  - Figure out how to share hunches (i.e. not known improvements but close)
- Regularly examine telemetry -> f

[2021-02-24 00:21] mcomella commented on #182
So this is done: closing.

[2021-02-24 00:21] #182 closed, assigned to mcomella

[2021-02-24 18:52] mcomella commented on #178
This landed upstream: https://bugzilla.mozilla.org/show_bug.cgi?id=1670247#c12

Let's keep this open to make sure we're still getting reasonable data from perftest.

[2021-02-26 18:46] mcomella opened #183 "File issue upstream about nav graph inflation performance concerns"

[2021-02-26 18:47] mcomella commented on #183
Filed https://issuetracker.google.com/u/2/issues/181320543

[2021-02-26 18:47] #183 closed, assigned to mcomella, MarcLeclair

[2021-03-04 00:13] mcomella commented on #180
Triage: this isn't urgent for the FE perf team b/c we're focused on start up: low priority. However, csadilek has memory consumption analysis https://github.com/mozilla-mobile/fenix/issues/17590 on their radar, which relates to this, so it may get addressed by them.

[2021-03-04 00:43] mcomella opened #184 "Fill in memory consumption telemetry tickets"
They're cards on the project board right now.

[2021-03-04 00:44] mcomella opened #185 "Document that the Firefox Profiler may omit function calls if they were inlined via proguard"
ProGuard will inline some functions so some functions will be missing from the stack trace in ProGuarded builds. We should document this behavior so it's not confusing to folks why the profiler doesn't match what the code says.

[2021-03-04 00:50] mcomella opened #186 "Determine if fenix start up slows down with longer device uptime, like it does in FNPRMS"
In FNPRMS, we noticed a trend where if we left the devices on without restarting them, the fenix cold start up time would trend up over the week and go back down after we restarted the devices:
![image](https://user-images.githubusercontent.com/759372/109893500-a00eae80-7c40-11eb-84a6-20afae2d5d92.png)

We're curious to know 1) if this is something users experience and 2) is fenix doing something

[2021-03-04 00:51] mcomella commented on #186
Triage: csadilek feels this could be explained by the device load and isn't too important to investigate so we put it at the bottom of the backlog.

[2021-03-04 01:06] mcomella opened #187 "Notify the glean team about Glean cold start perf"
We identified the Glean code seems to take a long time on start up: https://github.com/mozilla-mobile/fenix/issues/18322. We should let the Glean team know about it.

[2021-03-04 21:41] mcomella opened #188 "Review initial GLAM data to understand usability for understanding start up"

[2021-03-05 00:54] mcomella commented on #184
I filed https://github.com/mozilla-mobile/fenix/issues/18337 and https://github.com/mozilla-mobile/fenix/issues/18336

[2021-03-05 00:54] #184 closed, assigned to mcomella

[2021-03-08 21:44] mcomella opened #189 "File upstream issues for checkNotNull performance concerns"
We should specifically look to:
- make a reproducible example, rather than our whole app?
- Comment on kotlin forums (that issue we saw)
- File a bug against kotlin (or comment on an existing one)

[2021-03-09 22:46] mcomella commented on #189
- Commented on the forum: https://discuss.kotlinlang.org/t/run-time-null-checks-and-performance/2086/20
- Filed an issue: https://youtrack.jetbrains.com/issue/KT-45387

[2021-03-09 22:46] #189 closed, assigned to mcomella, MarcLeclair

[2021-03-10 22:05] mcomella commented on #188
Discovered a discrepancy in both onCreates so I filed https://github.com/mozilla-mobile/fenix/issues/18426

[2021-03-10 22:06] mcomella commented on #170
Triage: low impact. I already put time into this and the mc docs are a pain to build so it wasn't worth finishing.

[2021-03-15 23:54] mcomella opened #190 "Create Q2 2021 team direction proposal"

[2021-03-15 23:55] mcomella commented on #190
Done ("good enough" quality): https://docs.google.com/document/d/16U531b15Qh9rZPKeJAZXX7EPs7vIjTywmTOUGGv9WRY/edit

Let's discuss as a team!

[2021-03-15 23:55] #190 closed, assigned to mcomella

[2021-03-17 20:34] mcomella commented on #188
I've found it hard to keep track of all the questions I have while analyzing data so I created a doc for it: https://docs.google.com/document/d/1EtEb8HGkGFEb2b5rvNiy5fkmP2u7ww8_U5eF2QYgUIw/edit#

[2021-03-17 22:46] mcomella commented on #45
Triage: the secure storage experiment is landing and csadilek does not expect it to have a perf impact for start up or page load (where our tests are). We could double-check the PR though https://github.com/mozilla-mobile/fenix/pull/18333

[2021-03-17 22:50] mcomella commented on #45
- we add something in the visual completeness queue on start up but the impact should be minimal https://github.com/mozilla-mobile/fenix/pull/18333/files#diff-9e2b3999e8d0e181af6decd7d25949eef361031a719a578869967a5339b31737R223
- we run an experiment on the main thread on the visual completeness queue: https://github.com/mozilla-mobile/fenix/pull/18333/files#diff-678d3cf18f4b4d9048372417c416bc902c

[2021-03-23 16:57] mcomella opened #191 "Add profiler marker for geckoview startup duration"
We're seeing mixed results from our loadUrl change https://github.com/mozilla-mobile/fenix/issues/17645 that we'd expect to see a ~700ms improvement on. One theory is GV start up is taking longer than it takes us to call `loadUrl` due to the telemetry (1.3s median, 2.1s 75%).

Let's add profiler marker(s) for GV start up so we can get a clearer picture of what's going on (I assume it's one marker

[2021-03-23 17:23] mcomella commented on #188
This issue is kind of redundant to https://github.com/mozilla-mobile/fenix/issues/18426 so I'm going to fold this into that.

[2021-03-23 17:23] #188 closed, assigned to mcomella

[2021-03-24 21:27] mcomella commented on #45
Triage: there are new experiments in discussion. N.B.: they may not land soon or ever land. They are:
- https://github.com/mozilla-mobile/fenix/issues/18608
- https://github.com/mozilla-mobile/fenix/issues/18376
- https://github.com/mozilla-mobile/fenix/issues/18375

[2021-03-26 17:01] eliserichards commented on #45
Those three experiments (1 Leanplum and 2 Nimbus) are going to be implemented after the MR1 release (mid-April). They will be running simultaneously.

[2021-04-07 21:22] mcomella opened #192 "Review hardware acceleration workaround change"
Review this change: https://github.com/mozilla-mobile/fenix/pull/18817

As discussed in triage, this change seems like it'd have many repercussions so **talk with jamienichol about whether or not this is the only solution.** Can this be fixed in gecko?

[2021-04-07 21:25] mcomella opened #193 "Ask eliserichards to move `restoreLocale` to visual completeness queue"
I noticed `restoreLocale` was added to the FenixApplication start up path. I checked with eliserichards and they said it doesn't need to happen immediately and can run, e.g. 5s after start up. Let's ask them to move it.

In general, we want to encourage folks not to add things to the pre-visual completeness start up path. So, while I don't if this is specifically a performance problem, we should a

[2021-04-07 21:26] mcomella opened #194 "Ask mugurell what they mean by start up is slower"
In https://github.com/mozilla-mobile/fenix/issues/18680#issuecomment-809408837 mugurell mentioned start up seems slower: please ask them what they mean because we haven't observed this behavior.

Try not to spend too long on this: it's intended to be quick. File a follow-up if it goes on for longer.

[2021-04-07 21:27] mcomella opened #195 "Ask agi what might cause tab crashes that don't trigger the crash reporter (part of tab reloading issues)"
Follow-up with agi about what might cause https://github.com/mozilla-mobile/fenix/issues/17005#issuecomment-806199972

---

Triage: we decided this wasn't a start up issue and, in Q2 planning, we want to determine how important tab reloading is as a priority. If it's important, we can address this. If not, we can defer it until later.

[2021-04-13 16:30] mcomella opened #196 "Find cause of 200ms Moto G5 improvement between Mar 25 and Apr 7"
_Batch this work with https://github.com/mozilla-mobile/fenix/issues/19173_

On the moto G5, we noticed ~200ms drop in start time between Mar 25 and Apr 7 ([graphs](https://treeherder.mozilla.org/perfherder/graphs?highlightAlerts=1&highlightChangelogData=1&series=mozilla-central,3201797,1,15&series=mozilla-central,3194185,1,15&series=mozilla-central,3194183,1,15&series=mozilla-central,3201765,1,15

[2021-04-20 07:09] Mugurell commented on #194
Hey
Sorry for not seeing this sooner.
My comment was just based on the test - trying to act on a view shown in onboarding - which was passing until not anymore and I thought I saw in logs that the layout of HomeFragment shown for onboarding is not yet shown on the screen  so I though that was a case of a startup time regression.
But looking now in the ticket i see the layout (structure and ids) of

[2021-04-21 20:47] mcomella opened #197 "Talk to grisha about re-enabling periodic storage maintenance"
https://github.com/mozilla-mobile/fenix/issues/7227: is this something we want to prioritize?

[2021-04-26 21:20] mcomella commented on #194
Got it, thanks for the update!

[2021-04-26 21:20] #194 closed, assigned to mcomella

[2021-04-27 18:06] mcomella opened #198 "Participate in perf team bug bash week"
We're not focusing only on FE fenix stuff this week.

[2021-04-29 20:25] mcomella commented on #178
We still have the 500 error from perftest but it seems unrelated to this change. I think this change was safe and we can close this issue.

[2021-04-29 20:25] #178 closed, assigned to mcomella

[2021-05-03 19:04] #198 closed, assigned to mcomella, MarcLeclair

[2021-05-05 17:36] mcomella opened #199 "Investigate noise in mozperftest: what's the smallest change we can detect?"
I implemented an intentional 100ms regression (thread.sleep) in mozperftest and measured an improvement. This could be true (maybe it wasn't in the critical path) but it seems more likely to be noise: let's investigate how much noise there is in perftest and what scale of change we're able to detect.

[2021-05-06 00:47] mcomella opened #200 "Add support for perfherder to analyze_durations"
I've been using analyze_durations to understand the performance of runs. It only supports input of files as newlines: let's add support for perfherder rather than having to convert between formats.

[2021-05-06 02:31] mcomella commented on #200
Opened a PR: https://github.com/mozilla-mobile/perf-tools/pull/9

[2021-05-07 21:47] Malclir commented on #193
issue has been fixed and clsoed!

[2021-05-07 21:47] #193 closed, assigned to MarcLeclair

[2021-05-08 00:12] mcomella opened #201 "Complete final wording for Q2 2021 goals"

[2021-05-08 00:14] mcomella commented on #201
Done with the first pass. We may want to:
- [x] figure out about the unfinished Edge item
- [ ] Set boundaries: what are we not going to work on?

[2021-05-10 20:16] mcomella commented on #201
I just clarified what was needed from acreskeyMoz and updated the item.

[2021-05-10 23:09] mcomella commented on #200
Closed with https://github.com/mozilla-mobile/perf-tools/commit/c5f4fe70509386f14eb819d245f3848e54feca9b

[2021-05-10 23:09] #200 closed, assigned to mcomella

[2021-05-12 20:46] mcomella opened #202 "Collaborate with glean on "application-lifetime metrics & Interaction with ping scheduling""
The glean team is looking at null start up metrics in https://bugzilla.mozilla.org/show_bug.cgi?id=1706637 and I suspect it will require a non-trivial refactor: let's see if they could use our expertise in making it performant.

[2021-05-12 20:49] mcomella opened #203 "Figure out how to prioritize armv7 work"
- Should we be improving armv7? (20% of devices and platform perf seemed to deprioritize)
  - snapdragon new low end is arm64?
- If not, how do we handle it? Similar perf to motoG5 but arm64 to rule out architecture issues?

Ask kmoir for help.

[2021-05-12 20:53] mcomella opened #204 "File Q2 2021 issues"

[2021-05-12 20:57] mcomella commented on #45
The top two issues don't seem like they'll affect start up. The last one https://github.com/mozilla-mobile/fenix/issues/18375 might for FNPRMS where the message will pop up presumably on the homescreen after the third run (since we don't have conditioned profiles).

csadilek also mentions there's a secure storage experiment but it probably doesn't impact start up either.

csadilek also mentions th

[2021-05-19 20:56] mcomella commented on #195
Reporter couldn't reproduce the issue after a factory reset so closing this.

[2021-05-19 20:56] #195 closed, assigned to nobody

[2021-05-20 00:41] mcomella commented on #199
The macrobenchmark library came out in alpha so I'm trying to get it working: https://github.com/mozilla-mobile/fenix/issues/19576 I've been unsuccessful so it probably won't be part of this analysis.

[2021-05-20 16:59] Malclir opened #205 "Compare WARM VIEW to Edge (and Chrome) as they seem more responsive"
We should try to see how Fenix fares VS Chrome and Edge for WARM View.

We should also try to profile it and see what we could do.

[2021-05-20 18:29] mcomella opened #206 "Identify perf needs for upcoming release"
It's soon so we need to do this soon.

- [x] Find out nightly branch date, last train (already too late?)
  - I think it's already in Beta so it'd be the next release that splits on 5/31
- [x] Figure out what changed, if anything. Is there a special branch to test on?
- [ ] Run startup and pageload tests as well as profiling as sanity check
- [x] Follow-up on item 2: anything else to test?

[2021-05-20 18:30] mcomella opened #207 "Identify perf needs for following release"
- [x] Find out release date, nightly branch date, last train. See goals for links to notes
- [x] Find out what changed (see doc above). Is there a special branch to test on? Do we need to do extra testing on warm page load?
- [ ] Run startup and pageload tests as well as profiling as sanity check
- [ ] Follow-up on item 2: anything else to test?

[2021-05-20 20:04] mcomella commented on #204
Done!

[2021-05-20 20:04] #204 closed, assigned to mcomella, MarcLeclair

[2021-05-26 01:39] mcomella opened #208 "Add lightweight measurement script for proc start to nav start"
perftest VIEW appears to have a lot of noise https://github.com/mozilla-mobile/perf-frontend-issues/issues/199. As a comparison point, I wrote a proof of concept that measures a similar duration without the perftest harness and browsertime. Preliminary results show significantly less noise so let's actually land something a little cleaner in tree.

Ideally, we'd land this as a new perftest but it

[2021-05-26 01:39] mcomella commented on #199
Since mozperftest VIEW seems noisy, I filed an issue to land a similar measurement without perftest: https://github.com/mozilla-mobile/perf-frontend-issues/issues/208

[2021-05-26 03:18] mcomella commented on #208
PR: https://github.com/mozilla-mobile/fenix/pull/19659

[2021-06-01 22:23] mcomella commented on #208
Closed with the above.

[2021-06-01 22:23] #208 closed, assigned to mcomella

[2021-06-01 22:24] mcomella commented on #201
This is dragging on for a while: I'm just going to close it.

[2021-06-01 22:24] #201 closed, assigned to mcomella

[2021-06-01 22:26] mcomella commented on #199
I completed my report: https://docs.google.com/document/d/1QKHK50VJisT2k5kTfbNwDb5MvKKTi5H9xAKR9s-Hzu8/edit#

Here are my conclusions (copy-pasted):
- `./measure_start_up.py … cold_view_nav_start`, 25 iterations: change must be >= ~50ms to be observed in the median (27ms observed range in median + buffer time)
- perftest VIEW exhibits bimodal behavior in its replicates ([bug](https://bugzilla.mozi

[2021-06-01 22:26] #199 closed, assigned to mcomella

[2021-06-03 20:09] mcomella commented on #45
Triage: no new experiments off the top of our heads.

[2021-06-03 23:00] mcomella commented on #206
I found a rough list of what changed: https://support.mozilla.org/en-US/kb/whats-new-firefox-android-79?redirect=no

I think we should look into:
- [x] How long does the menu take to open in the new version vs. the old version?

[2021-06-03 23:37] mcomella commented on #206
I took screenrecordings w/ timestamp information embedded and compared them (granted: we don't know how reliable this method is or how noisy the interaction is). Between FF 88.1.4 (old) and nightly 91.0a1 6/3 @ 5:05 PM, we see…
- From the initial tap until the menu animation starts, a 73ms improvement (401ms old, 328ms new)
- From the initial tap until the menu animation completes, a 81ms improvem

[2021-06-03 23:38] mcomella commented on #206
We've been running the start up tests on FNPRMS so I think we're good here.

[2021-06-03 23:38] #206 closed, assigned to mcomella

[2021-06-09 21:02] Malclir commented on #186
After discussing about this, we've come to the conclusion that testing this in a setting like FNPRMS might lead to some answers that are skewed. We've thought that using telemetry to get a full picture on how it affects our users might be a better solution since reproducing this with our own device could be difficult (i.e: leaving it on, waiting 15 days ,etc...)

[2021-06-09 21:03] Malclir commented on #196
This could be difficult to do and the time it would take isn't worth the end result. We could re-open this issue if we ever have a script / system to backfill the missing data. If we do, we could try to just run all the commits between our two commits showed in the graph above.

[2021-06-09 21:03] #196 closed, assigned to acreskeyMoz

[2021-06-09 21:03] Malclir opened #209 "Starting profiler earlier during start up"
This is just a ticket to track the [bugzilla issue to start the profiler earlier](https://bugzilla.mozilla.org/show_bug.cgi?id=1704091)

[2021-06-24 21:33] mcomella commented on #185
This is kind of aspirational and we're likely to just lose this issue. When folks use it more, if this questions comes up a lot, it'll be a good reminder to do it.

[2021-06-24 21:33] #185 closed, assigned to nobody

[2021-07-12 20:23] mcomella opened #210 "Respond kotlin bug tracker wrt option to use java nullability annotations"

[2021-07-12 20:32] mcomella commented on #162
This bug isn't super actionable anymore and we're waiting on cycles from the perftest team to move forward with this. Let's reopen or open a new one when we have those cycles.

[2021-07-12 20:32] #162 closed, assigned to nobody

[2021-07-12 21:48] mcomella commented on #192
We closed the PR https://github.com/mozilla-mobile/fenix/pull/18817#issuecomment-878619879 so there's no more work to do here anymore: closing.

[2021-07-12 21:48] #192 closed, assigned to MarcLeclair

[2021-07-14 17:07] mcomella opened #211 "Gather baseline perf tests for Focus"
For Focus v8.16.0, run baseline performance tests:
- page load (ask acreskey or bdekoz how to run page load tests or to run it on our behalf. maybe the latter is preferable)
- startup (modify measure_start_up.py)
- app size (this should probably come from the GPlay dashboard b/c that's how we measure fenix)

[2021-07-14 21:01] #210 closed, assigned to MarcLeclair

[2021-07-14 22:24] Malclir commented on #187
Closing since we have multiple tickets that refer to Glean cold start up.

[2021-07-14 22:24] #187 closed, assigned to nobody

[2021-07-20 18:05] mcomella opened #212 "Create replacement for FNPRMS based on locally backfilling results"
FNPRMS is hard to maintain and ensure accuracy because it's entirely automated. Let's develop a system that's more flexible because it can be run locally, e.g. a perf team member runs a script once a week and it fills in the past week's nightly's results.

[2021-07-20 21:33] mcomella opened #213 "Add linter to perf-tools"
Better code consistency between the team.

[2021-07-21 20:53] mcomella opened #214 "Run & attend perf book club"

[2021-07-21 21:01] mcomella opened #215 "Set up strategy to gather recurring fenix/focus perf numbers"
- [ ] monthly page load (talk to bdekoz)
- [x] biweekly app size (done by GPlay, need to add to review)
- [x] weekly (backfill) start up times (fenix/focus request; once we complete backfill system should have insight)

[2021-07-21 21:02] mcomella commented on #213
Closed with https://github.com/mozilla-mobile/perf-tools/pull/10

[2021-07-21 21:02] #213 closed, assigned to mcomella

[2021-07-21 23:56] mcomella commented on #211
I took some preliminary start up measurements with a WIP progress version of the `measure_start_up.py` script. Here's what I noticed:
- From v8.16.0 to v8.17.1, which added the major architecture change, there was no major change in time to first frame for MAIN or VIEW. I was unable to measure nav start because the logcat was removed in Oct 2020.
- From v8.8.1 (Oct 2020) to v8.16.0, which was an a